main {
  padding-top: 51px;
}

@media screen and (min-width: 767.98px) {
  main {
    flex: auto;
    /* min-width: 0 required for flexbox to constrain overflowing elements */
    min-width: 0;
    padding-top: 0;
  }
}
