<server>

    <featureManager>
    	<feature>cdi-2.0</feature>
    	<feature>el-3.0</feature>
    	<feature>jsp-2.3</feature>
    	<feature>servlet-4.0</feature>
    	<feature>concurrent-1.0</feature>
    	<feature>jsfContainer-2.3</feature>
    </featureManager>
    
    <httpEndpoint id="defaultHttpEndpoint" httpPort="${httpPort}" httpsPort="${httpsPort}" />

</server>
