<server description="Intro REST Guide Liberty server">

  <featureManager>
      <feature>servlet-6.0</feature>
       <feature>restfulWS-3.1</feature>
         <feature>jsonp-2.1</feature>
         <feature>jsonb-3.0</feature>
  </featureManager>

  <webApplication location="guide-rest-intro.war"/>

</server>
