---
layout: doc
type: config
css:
- doc-header
- config
permalink: /docs/config/
---

<!-- Build list of config pages -->
{% assign configs = site.pages | where: 'layout', 'config' %}

<div id="background_container">
    <!-- <div class="row"> -->
        <!-- Guide's table of contents section -->
        <div id="toc_column" class="col-sm-3">
            <div id="toc_inner">
                <h3 id="toc_title">Contents</h3>
                {% if configs %}
                <div id="toc_container">
                    <ul>
                        {% for config in configs %}
                        <li>
                            <a href="{{ config.url }}.html" target="contentFrame">{{ config.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Entire guide section -->
        <div id="config_content" class="col-sm-9 position_relative">
            <iframe class="config_content_frame" name="contentFrame"></iframe>
        </div>
    <!-- </div> -->
</div>


