---
layout: doc
title: Server Config
type: config
css:
- header
- commonConfigFeature
- config
js: configs
permalink: /docs/ref/config/
---

<!-- Build list of config pages -->
{% assign allConfigDocs = site.pages | where: 'layout', 'config' %}
{% assign configDocs = allConfigDocs | where_exp: "page", "page.type != 'overview'" %}
{% assign configOverviewDoc = allConfigDocs | where: 'type', 'overview' %}
<div id="background_container">
    <!-- Config's table of contents section -->
    <div id="toc_column" class="col-sm-3 collapsed in">
        <div id="toc_inner">
            {% if configDocs %}
            <div id="toc_container">
                <h3 id="toc_title">Server Configuration</h3>
                <!-- Overview section -->
                <ul>
                    {% for overview in configOverviewDoc %}
                    <li>
                        <a class="overview_button" href="{{ overview.url }}" target="contentFrame">OVERVIEW</a>
                    </li>
                    {% endfor %}
                </ul>
                <!-- List of pages section -->
                <ul>
                    {% for config in configDocs %}
                    <li>
                        {% assign splitOpenParen = config.title | split: '(' %}
                        {% assign splitCloseParen = splitOpenParen[1] | split: ')' %}
                        <a href="{{ config.url }}" target="contentFrame">{{ splitCloseParen[0] }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div>No config found</div>
            {% endif %}
        </div>
    </div>
    <!-- Config content section -->
    <div id="config_content" tabindex="0" class="col-sm-9 position_relative">
        <div class="contentStickyBreadcrumbHeader" style="display:none;"></div>
        <iframe class="config_content_frame" name="contentFrame" title="Server configuration content description"></iframe>
    </div>
</div>


