---
layout: doc
title: Server Features
type: feature
css:
- doc-header
- commonConfigFeature
- feature
js: features
permalink: /docs/ref/feature/
---

<!-- Build list of feature pages -->
{% assign allFeatureDocs = site.pages | where: 'layout', 'feature' | sort: 'title' %}
{% assign featureDocs = allFeatureDocs | where_exp: "page", "page.type != 'overview'" %}
{% assign configOverviewDoc = allFeatureDocs | where: 'type', 'overview' %}
<div id="background_container">
    <div id="toc_column" class="col-sm-3 collapsed in">
        <div id="toc_inner">
            {% if featureDocs %}
            <div id="toc_container">
                <h3 id="toc_title">Server Features</h3>
                <!-- Overview section -->
                <ul>
                    {% for overview in configOverviewDoc %}
                    <li>
                        <div role="button" class="overview_button" aria-label="Overview" href="{{ overview.url }}" tabindex="0">OVERVIEW</div>
                    </li>
                    {% endfor %}
                </ul>
                <!-- List of pages section -->
                <ul>
                    {% for feature in featureDocs %}
                    <li>
                        <div role="button" href="{{ feature.url }}" aria-label="{{ feature.title }}" tabindex="0">{{ feature.title }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div>No feature found</div>
            {% endif %}
        </div>
    </div>
    <!-- Feature content section -->
    <div id="feature_content" class="col-sm-9 position_relative" tabindex="0"></div>
</div>