---
layout: doc
title: General Reference
type: general
css:
- commonConfigFeature
- general-reference
js: general-references
permalink: /docs/ref/general/
---

<!-- Build list of general reference pages -->

{% assign generalDocs = site.pages | where: 'layout', 'general-reference' | where: 'type', 'general' | sort: 'title' %}

<div id="background_container">
    <!-- table of contents section -->
    <div id="toc_column" class="col-sm-3 collapsed in">
        <div id="toc_inner">
            {% if generalDocs %}
            <div id="toc_container">
                <ul id="general_toc">
                    {% for doc in generalDocs %}
                    <li>
                        <div role="button" href="{{ doc.url }}" aria-label="{{ doc.title }}" tabindex="0">{{ doc.title }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div>No doc found</div>
            {% endif %}
        </div>
    </div>
    <!-- content -->
    <div id="general_content" tabindex="0" class="col-sm-9 position_relative">
    </div>
</div>


