---
layout: default
title: Guides
css:
  - header-dark
  - guide-card
  - guides
js: guides
permalink: /guides/
seo-description: Guides, tutorials, examples on developing cloud-native Java microservices and applications with Open Liberty, MicroProfile, Jakarta EE, containers, Kubernetes, REST, Reactive and cloud deployments and more.
---

<!-- Build a list of all the documents in the guides code base -->
{% assign static-guides = site.pages | where: 'layout', 'guide' %} {% assign
multipane-static-guides = site.pages | where: 'layout', 'guide-multipane' %} {%
assign multipane-iguides = site.pages | where: 'layout', 'iguide-multipane' %}
{% assign all-markdown-files = static-guides | concat: multipane-static-guides |
concat: multipane-iguides | sort: 'releasedate' | reverse %} {% assign
all-guides = '' | split: '' %}

<!-- Remove any documents deemed private (archived, templates, etc) -->
{% for guide in all-markdown-files %} {% unless guide.archived or guide.path
contains "guides/guides-template" or guide.path contains "guides/guides-common"
or guide.path contains "guides/iguides-common" %} {% assign all-guides =
all-guides | push: guide %} {% endunless %} {% endfor %}

<!-- Count number of guides from past 30 days-->
<!-- 2592000 is 30 days in seconds (30 days * 24 hours * 60 minutes * 60 seconds) -->
{% assign new_guide_count = 0 %} {% for guide in all-guides %} {% assign
date_published = guide.releasedate | date:'%s' %} {% assign date_now = 'now' |
date:'%s' %} {% assign date_difference = date_now | minus: date_published %} {%
if date_difference < 2592000 %} {% assign new_guide_count = new_guide_count |
plus: 1 %} {% endif %} {% endfor %}

<!-- Sort list of guides by date with most recent first -->
{% assign all_guides_by_date = all-guides | sort: "releasedate" | reverse %}
{% capture placeholder_filter_guides %}{% t guides.placeholder_filter_guides %}{% endcapture%}
<!-- INTRODUCTION AND SEARCH BAR -->
<div id="guides_information_container" class="container">
  <div id="guides_border"></div>
  <div class="row">
    <div id="guide_search_information" class="col-xs-12 col-sm-7 col-md-6">
      <h2 id="guides_title">{% t pages.guides %}</h2>
      <p id="guides_description">
        {% t guides.description %}
      </p>
    </div>
    <img id="clouds" src="{{ "/img/guides_clouds.png" | relative }}"
    alt='clouds'>
    <div id="guides_search_container" class="col-xs-12 col-sm-5 col-md-6">
      <input
        id="guide_search_input"
        class="search-box"
        placeholder="{{placeholder_filter_guides}}"
        autocomplete="off"
        data-toggle="popover"
        data-placement="bottom"
        data-html="true"
        aria-label="Search"
      />
      <button
        class="clear_btn"
        type="reset"
        tabindex="0"
        aria-label="Clear search bar"
      ></button>
      <div id="popover_content" class="hide" style="display: none">
        <p class="tags_title">{% t guides.suggested_tags %}</p>
        <button type="button" class="tag_button">{% t guides.new %}</button>
        <button type="button" class="tag_button">microprofile</button>
        <button type="button" class="tag_button">jakarta ee</button>
        <button type="button" class="tag_button">{% t guides.run-in-cloud %}</button>
        <button type="button" class="tag_button">{% t guides.interactive %}</button>
      </div>
    </div>
  </div>
</div>

<div
  role="menu"
  id="tablet_toc_accordion_container"
  data-toggle="collapse"
  data-target="#toc_column"
  aria-expanded="false"
  aria-controls="toc_column"
>
  <div role="menuitem" id="tablet_toc_accordion">
    <button
      class="breadcrumb_hamburger toc-toggle collapsed"
      type="button"
      tabindex="0"
    >
      <span class="sr-only">{% t guides.toggle_navigation %}</span>
      <span class="icon-bar"></span> <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span>{% t guides.table_of_contents %}</span>
  </div>
</div>

<!-- TOC -->
<div id="toc_column" class="collapse inline open">
  <div id="toc_container">
    <button
      id="tablet_toc_close"
      data-toggle="collapse"
      data-target="#toc_column"
      aria-expanded="true"
      aria-controls="toc_column"
    >
      <img src="/img/toc_close_navy.svg" alt="Table of contents close button" />
    </button>
    <ul></ul>
  </div>
</div>

<div id="guides_container">
  <div class="row">
    {% for guide in all-guides %}
    <div class="guide_column col-xs-12 col-sm-6 col-md-4 col-lg-3 hidden">
      <a
        href="{{ guide.url }}.html"
        class="guide_item"
        data-title="{{ guide.title | downcase }}"
        data-description="{{ guide.description | downcase }}"
        data-tags=""
        data-search-keywords="{{ guide.search-keywords | join: ' ' | downcase }}"
      >
        <div class="guide_title_and_description_container">
          <h3 class="guide_title">{{guide.title}}</h3>
          <p class="guide_description" title="{{guide.description}}">
            {{guide.description}}
          </p>
        </div>
        <img
          class="duration_clock_icon"
          src="/img/guide_duration_clock_icon_small.svg"
          alt="Duration"
        />
        <span class="guide_duration">{{guide.duration}}</span>
        <!-- Add New flag to guides from the past 30 days or 4 most recent posts. -->
        <!-- If new posts count is less than 4, use 4 most recent posts -->
        {% if new_guide_count < 4 %} {% if guide == all_guides_by_date[0] or
        guide == all_guides_by_date[1] or guide == all_guides_by_date[2] or
        guide == all_guides_by_date[3] %}
        <div class="new_guide_container">
          <span class="guide_new">{% t guides.new_camel_case %}</span>
        </div>
        {% endif %}

        <!-- If new posts count is >= 4, use posts from last 30 days-->
        {% else %} {% assign date_published = guide.releasedate | date:'%s' %}
        {% assign date_now = 'now' | date:'%s' %} {% assign date_difference =
        date_now | minus: date_published %} {% if date_difference < 2592000 %}
        <div class="new_guide_container">
          <span class="guide_new">{% t guides.new_camel_case %}</span>
        </div>
        {% endif %} {% endif %} 
        <!-- Add Updated flag to guides if the last major update is within last 12 weeks. -->
        <!-- Count number of guides from past last 12 weeks that is 84 days-->
        <!-- 7257600 is 84 days in seconds (84 days * 24 hours * 60 minutes * 60 seconds) -->
        {% if guide.majorupdateddate %}
        {% assign date_updated = guide.majorupdateddate | date:'%s' %}
        {% assign date_now = 'now' | date:'%s' %} {% assign date_difference =
        date_now | minus: date_updated %} {% if date_difference < 7257600 %}
        <div class="updated_guide_container">
          <span class="guide_updated">{% t guides.updated %}</span>
        </div>
        {% endif %}{% endif %}
        {% if guide.layout == 'iguide-multipane' %}
        <div class="guide_interactive_container">
          <img
            class="interactive_bolt_icon"
            src="/img/guide_lightning_bolt.svg"
            alt="Interactive"
          />
          <span class="guide_interactive">{% t guides.interactive_camel_case %}</span>
        </div>
        {% endif %} 
      </a>
    </div>
    {% endfor %}
  </div>

  <!-- Zero Search Results -->
  <div class="no_results_section row">
    <h2 id="no_results_title">
      <b class="search_term"></b> - {% t guides.no_results_found %}
    </h2>
    <div id="no_search_results_container" class="container">
      <div class="subtitle">
        <p>
          <b
            >{% t guides.no_guides_matching %}
            <span class="search_term"></span
          ></b>
        </p>
        <p>
          {% t guides.want_to_see_guide_on_this_topic %}
          <b
            ><a
              href="https://github.com/OpenLiberty/guides-common/projects/1"
              class="orange_link_light_background"
              >{% t guides.checkout_and_raise_issue %}</a
            ></b
          >
        </p>
      </div>
      <button id="back_to_guides_button" class="btn">
        <img class="arrow" src="/img/guides_arrow_left.svg" alt="" /><b
          >{% t guides.back_to_all_ol_guides %}</b
        >
      </button>
    </div>
  </div>
</div>
