---
layout: default
home: true
js: download
css: home
---

<!-- INTRO -->
<div id="intro_background">
    <span id="star1" class="star"></span>
    <span id="star2" class="star"></span>
    <span id="star3" class="star"></span>
    <span id="star4" class="star d-none d-sm-block"></span>
    <span id="star5" class="star d-none d-sm-block"></span>
    <img id="cloud_shadow" class="d-none d-lg-block" src="/img/home_cloud_shadow.png" alt="Cloud shadow">
    <img id="cloud_3" src="/img/home_cloud_1.png" alt="Cloud 3">
    <div id="intro_content_container" class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="intro_content">
                    <img id="intro_logo" src="{{ "/img/logo.svg" | relative }}" class="img-fluid" alt="Open Liberty: An IBM open source project">
                    <div id="an_ibm_open_source_project" class="d-none d-md-block">An IBM Open Source Project</div>
                    <h3 id="intro_lighten_up_title">A lightweight open framework for building fast and efficient cloud-native Java microservices.</h3>
                    <p id="intro_paragraph">
                        Build cloud-native apps and microservices while running only what you need.
                        Open Liberty is the most flexible server runtime available to Java<sup>TM</sup> developers in this solar system.
                    </p>
                    <div id="download_links_container">
                        <a id="download_link" href="/downloads" class="skip_outbound_link_analytics">Get Open Liberty</a>
                    </div>
                </div>
            </div>
            <div id="ufo_images_container" class="col-md-6">        
                <img id="cloud_1" src="/img/home_cloud_1.png" alt="Cloud 1">
                <img id="cloud_2" class="d-none d-md-block" src="/img/home_cloud_1.png" alt="Cloud 2">
                <img id="beam" src="/img/home_beam.png" alt="Beam">
                <img id="ufo" src="/img/home_ufo.png" alt="Ufo">
                <img id="person_1" src="img/home_person_1.svg" alt="Person 1">
                <img id="coffee" src="img/home_coffee.svg" alt="Coffee cup">
                <img id="shoe" src="img/home_shoe.svg" alt="Shoe">
                <img id="laptop" class="d-none d-md-block"src="img/home_laptop.svg" alt="Laptop">
                <img id="ball" class="d-none d-md-block"src="img/home_ball.svg" alt="Ball">
                <img id="dog" class="d-none d-md-block"src="img/home_dog.svg" alt="Dog">
                <img id="phone" class="d-none d-md-block"src="img/home_phone.svg" alt="Phone">
                <img id="mouse" class="d-none d-md-block"src="img/home_mouse.svg" alt="Mouse">
                <img id="cloud_4" src="/img/home_cloud_1.png" alt="Cloud 4">
                <img id="cloud_5" class="d-none d-md-block" src="/img/home_cloud_1.png" alt="Cloud 5">
                <img id="person_2" src="img/home_person_2.svg" alt="Person 2">
            </div>
        </div>
    </div>
</div>



<!-- DEVELOP, DEPLOY, MONITOR -->
<div id="develop_container">
    <img id="cloud_6" class="d-none d-md-block lazy" data-src="/img/home_cloud_2.png" alt="Cloud 6">
    <img id="cloud_7" class="d-none d-md-block lazy" data-src="/img/home_cloud_2.png" alt="Cloud 7">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="develop_title">Develop Cloud-native Java microservices</h2>
                <p class="develop_text">Open Liberty is fast to start up with a low memory footprint and live reload for quick iteration. Simple to add 
                    and remove features from the latest versions of MicroProfile and Jakarta EE. Zero migration let’s you focus on what's 
                    important, not the APIs changing under you.
                </p>
                <div class="learn_more_container">
                    <a class="learn_more_link" href="/docs/ref/general/#microprofile.html" class="skip_outbound_link_analytics">Learn more</a>
                </div>
            </div>
            <div class="col-md-6">
                <img id="develop_image" class="d-none d-md-block img-fluid lazy" data-src="/img/home_develop.svg" alt="Develop graphic">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img id="deploy_image" class="d-none d-md-block img-fluid lazy" data-src="/img/home_deploy.svg" alt="Deploy graphic">
            </div>
            <div class="col-md-6">
                <h2 class="develop_title">Deploy in containers to any cloud</h2>
                <p class="develop_text">Containerized and deployable with fast throughput on any Kubernetes cloud. Battle-hardened and proven in production, 
                    with zero migration. Easy-to-manage configuration from development to test to production.
                </p>
                <div class="learn_more_container">
                    <a class="learn_more_link" href="/guides/?search=cloud" class="skip_outbound_link_analytics">Learn more</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="develop_title">Monitor microservices in the cloud</h2>
                <p class="develop_text">Trace your live microservices. Gather metrics and configure alerts, and browse metrics in dashboards. Consolidate and 
                    analyze logs from across your hybrid cloud.
                </p>
                <div class="learn_more_container">
                    <a class="learn_more_link" href="/blog/2018/10/05/microprofile-faulttolerance-1.1-metrics.html" class="skip_outbound_link_analytics">Learn more</a>
                </div>
            </div>
            <div class="col-md-6">
                <img id="monitor_image" class="d-none d-md-block img-fluid lazy" data-src="/img/home_monitor.svg" alt="Monitor graphic">
            </div>
        </div>
    </div>
</div>

<!-- GRAPHS & LOGOS -->
<div id="dark_blue_background">
    <div class="container" id="graph_container">
        <div class="row">
            <div class="col-xs-12 col-lg graph" id="graph1">
                <img class="center-block lazy" data-src="/img/home_graph_j9.svg" alt="OpenJ9 start-up time graph: Open Liberty vs. other lightweight Java servers">
            </div>
            <div class="col-xs-12 col-lg graph" id="graph2">                
                <img class="center-block lazy" data-src="/img/home_graph_hotspot.svg" alt="Hotspot start-up time graph: Open Liberty vs. other lightweight Java servers">
            </div>
        </div>
    </div>

    <div class="container" id="logos_section">
        <div class="row justify-content-center">
            <div class="col">
                <h3 id="logos_title">Open Liberty integrates with the Open Source community</h3>
                <div id="logo_image_row" class="row justify-content-center">
                    <div class="col-sm-12 col-md">
                        <img id="microprofile_logo" class="lazy" data-src="/img/home_logo_microprofile.png" alt="MicroProfile Logo">
                    </div>
                    <div class="col-sm-12 col-md">
                        <img id="jakarta_ee_logo" class="lazy" data-src="/img/home_logo_jakartaee.png" alt="Jakarta EE logo">
                    </div>
                </div>
                <div class="logos_row row justify-content-center">
                    <p>Jenkins</p>
                    <p>Prometheus</p>
                    <p>Docker</p>
                    <p>Grafana</p>
                    <p>Gradle</p>
                    <p>Logstash</p>
                </div>
                <div class="logos_row row justify-content-center">
                    <p>Spring</p>
                    <p>Maven</p>
                    <p>Elastic Search</p>
                    <p>Kibana</p>
                    <p>Kubernetes</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- NEWS -->
<div id="news_container" class="container">
    <div class="cloud_images_div">
        <img id="cloud_8" class="d-none d-sm-block" src="/img/home_cloud_1.png" alt="Cloud 8">
        <img id="cloud_9" class="d-none d-md-block" src="/img/home_cloud_1.png" alt="Cloud 9">
        <img id="cloud_10" class="d-none d-sm-block" src="/img/home_cloud_1.png" alt="Cloud 10">
        <img id="cloud_11" class="d-none d-sm-block" src="/img/home_cloud_1.png" alt="Cloud 11">
        <img id="cloud_12" class="d-none d-md-block lazy" data-src="/img/home_cloud_2.png" alt="Cloud 12">
        <img id="cloud_13" class="d-none d-md-block lazy" data-src="/img/home_cloud_2.png" alt="Cloud 13">
        <img id="cloud_14" class="d-none d-md-block lazy" data-src="/img/home_cloud_2.png" alt="Cloud 14">
    </div>
    <h2 id="news_title">Open Liberty News</h2>
    <p id="news_text">Check out the latest news on our blog and follow us on Twitter.</p>
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div id="blog_post">
                {% for post in site.posts limit:1 %}
                    {% if post.redirect_link %}
                        <h2 class="blog_post_title"><a href="{{ post.redirect_link }}" target="_blank" rel="noopener" class="blog_post_title_link">{{ post.title | escape }}</a>
                            <span class="continued_text">
                                {% assign continue_text = ' [Continued on ' %}
                                {% assign domain_name = post.redirect_link | remove: "https://" | remove: "http://" | remove: "www." | append: "]" %}
                                {{ continue_text | append: domain_name }}
                            </span>
                        </h2>
                    {% else %}
                        <h2 class="blog_post_title"><a href="{{ post.url | relative_url }}" class="blog_post_title_link">{{ post.title | escape }}</a></h2>
                    {% endif %}

                    {% assign additional_author_count = 0 %}
                    {% for author in post.additional_authors %}
                        {% assign additional_author_count = additional_author_count | plus: 1 %}
                    {% endfor %}
                    <div class="blog_post_author_data_container">
                        <div class="author_images_container">
                            <img class="blog_post_author_image lazy" data-src="{{ post.author_picture }}" alt="Blog author picture">
                            {% for author in post.additional_authors %}
                                <img class="blog_post_author_image lazy" data-src="{{ author.image }}" alt="Image of author">
                            {% endfor %}
                        </div>
                        <a class="blog_post_author_name" href="{{ post.author_github }}" target="_blank" rel="noopener">{{ post.author }}</a>
                        {% for author in post.additional_authors %}
                            {% if additional_author_count == 1 %}
                                <span>and </span>
                                <a class="blog_post_author_name" href="{{ author.github }}" target="_blank" rel="noopener">{{ author.name }}</a>
                            {% else %}
                                <span>and {{ additional_author_count }} others</span>
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                        <span class="blog_post_date" title="{{ post.date | date: date_format }}">on {{ post.date | date: date_format }}</span>
                    </div>

                    <p class="blog_post_paragraph">
                        {% if post.blog_description %}
                            {{ post.blog_description }}
                        {% else %}
                            {{ post.content | strip_html | truncatewords: 60 }}
                        {% endif %}
                    </p>
                {% endfor %}
                <a id="blog_link" href="/blog/">View all Open Liberty Blog posts</a>

            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div id="twitter_follow_div">
                <img id="ufo_logo" class="lazy" data-src="/img/home_logo.svg" alt="Open Liberty Logo">
                <a id="twitter_handle" href="https://twitter.com/OpenLibertyIO" target="_blank" rel="noopener">@openliberty.io</a>
                <a id="twitter_link" href="https://twitter.com/OpenLibertyIO" target="_blank" rel="noopener">Follow</a>
            </div>
            <div id="twitter_iframe_div">
                <a class="twitter-timeline" href="https://twitter.com/OpenLibertyIO?ref_src=twsrc%5Etfw" rel="noopener" data-tweet-limit="3" data-chrome="noheader nofooter"></a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>

</div>

<!-- SUPPORT -->
<div id="support_background">
    <div id="support_container" class="container">
        <h2 id="support_title">A crew that supports you</h2>        
        <div class="row">
            <div class="col-md-6">
                <p id="support_text">
                    As a member of the Open Liberty crew, you have the support and 
                    expertise of an entire community at your fingertips. Don't forget 
                    to lean on them when you have questions!
                    <br>
                    <br>
                    And for times that you need an extra boost, check out Open Liberty 
                    Enterprise Support from IBM.
                </p>
                <a id="support_link" href="/support/">Get Open Liberty support</a>
            </div>
            <div id="support_image" class="col-md-6 order-first order-md-2">
                <span id="star6" class="star d-none d-sm-block"></span>
                <span id="star7" class="star d-none d-sm-block"></span>
                <span id="star8" class="star d-none d-sm-block"></span>
                <span id="star9" class="star d-none d-sm-block"></span>
                <span id="star10" class="star d-none d-sm-block"></span>
                <span id="star11" class="star d-none d-sm-block"></span>
                <span id="star12" class="star d-none d-sm-block"></span>
                <img id="support_ufo" class="img-fluid lazy" data-src="/img/home_ufo_with_guide.svg" alt="Mothership UFO">
            </div>
        </div>
    </div>
</div>

<!-- GET INVOLVED -->
<div id="get_involved_container" class="container">
    <div class="cloud_images_div">
        <img id="cloud_15" class="d-none d-sm-block" src="/img/home_cloud_1.png" alt="Cloud 15">
        <img id="cloud_16" src="/img/home_cloud_1.png" alt="Cloud 16">
        <img id="cloud_17" class="d-none d-sm-block" src="/img/home_cloud_1.png" alt="Cloud 17">
        <img id="cloud_18" class="d-none d-sm-block" src="/img/home_cloud_1.png" alt="Cloud 18">
        <img id="cloud_19" class="d-none d-sm-block" src="/img/home_cloud_1.png" alt="Cloud 19">
        <img id="ufo_1" class="d-none d-md-block lazy" data-src="/img/home_ufo_1.svg" alt="Small ufo">
        <img id="ufo_2" class="d-none d-md-block lazy" data-src="/img/home_ufo_2.svg" alt="Small ufo 2">
        <img id="ufo_3" class="d-none d-md-block lazy" data-src="/img/home_ufo_3.svg" alt="Small ufo 3">
        <img id="cloud_20" class="d-none d-md-block lazy" data-src="/img/home_cloud_2.png" alt="Cloud 20">
    </div>
    <div id="get_involved_row" class="row">
        <div class="col-md-7 col-lg-6">
            <h2 id="get_involved_title">Get involved</h2>
            <p id="get_involved_text">
                Open Liberty thrives on users’ collaboration, contributions and creativity. 
                We invite you to share your skills and ideas with users in this galaxy and beyond.
            </p>
            <div id="contribute_link_container">
                <a id="contribute_link" href="/contribute/">Contribute to Open Liberty</a>
            </div>
            <p id="contributors_title">Here are some of our awesome contributors!</p>
            <div id="contributors_div">
                <img class="contributor_image lazy" data-src="https://avatars0.githubusercontent.com/u/4081634?s=50" alt="Contributor picture">
                <img class="contributor_image lazy" data-src="https://avatars3.githubusercontent.com/u/3322532?s=50" alt="Contributor picture">
                <img class="contributor_image lazy" data-src="https://avatars2.githubusercontent.com/u/5427967?s=50" alt="Contributor picture">
                <img class="contributor_image lazy" data-src="https://avatars0.githubusercontent.com/u/2011102?s=50" alt="Contributor picture">
                <img class="contributor_image lazy" data-src="https://avatars0.githubusercontent.com/u/1906689?s=50" alt="Contributor picture">
                <img class="contributor_image lazy" data-src="https://avatars0.githubusercontent.com/u/22085207?s=50" alt="Contributor picture">
            </div>
        </div>
    </div>
</div>
