---
layout: doc
type: command
css:
- doc-header
- commonConfigFeature
- server-command
- overview
js: server-commands
permalink: /docs/ref/command/
---

<!-- Build list of command pages -->
{% assign commandDocs = site.pages | where: 'layout', 'server-command' | where: 'type', 'command' %}
{% assign commandOverviewDoc = site.pages | where: 'layout', 'server-command' | where: 'type', 'overview' %}
<div id="background_container">
    <!-- table of contents section -->
    <div id="toc_column" class="col-sm-3 collapsed in">
        <div id="toc_inner">
            {% if commandDocs %}
            <div id="toc_container">
                <h3 id="toc_title">Server Commands</h3>
                <ul>
                    {% for overview in commandOverviewDoc %}
                    <li>
                        <div role="button" href="{{ overview.url }}" tabindex="0">overview</div>
                    </li>
                    {% endfor %}
                </ul>
                <ul id="command_toc">
                    {% for command in commandDocs %}
                    {% assign noCommand = command.title | split: ' command' %}
                    {% assign noServer = noCommand[0] | split: 'server ' %}
                    <li>
                        <div role="button" href="{{ command.url }}" tabindex="0">{{ noServer }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% else %}
            <div>No command found</div>
            {% endif %}
        </div>
    </div>
    <!-- content -->
    <div id="command_content" tabindex="0" class="col-sm-9 position_relative">
    </div>
</div>


