/.apt_generated/
/target/
/.settings/
/.vscode/
.project
.classpath
.DS_Store
/_site
src/main/content/robots.txt
src/main/content/javadocs/*/stylesheet.css
src/main/content/_assets/js/custom-include-processor.js
src/main/content/antora_ui/public/
src/main/content/antora_ui/node_modules/
src/main/content/antora_ui/src/partials/noindex.hbs
.asset-cache
/**/.jekyll-cache
/node_modules/
src/main/webapp/WEB-INF/*-redirects.properties
!src/main/webapp/WEB-INF/ui-redirects.properties