/.apt_generated/
/target/
/.settings/
/.vscode/
.project
.classpath
.DS_Store
src/main/content/javadocs/*/stylesheet.css
/_site
src/main/content/antora_ui/public/
src/main/content/antora_ui/node_modules/
.asset-cache
/**/.jekyll-cache