<!-- tag::jwt[] -->
<server description="Sample Liberty server">

    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>faces-4.0</feature>
        <feature>cdi-4.0</feature>
        <!-- FOR SECURITY -->
        <feature>appSecurity-5.0</feature>
        <feature>servlet-6.0</feature>
        <feature>mpJwt-2.1</feature>
        <feature>mpConfig-3.0</feature>
        <feature>mpRestClient-3.0</feature>

    </featureManager>

    <variable name="default.http.port" defaultValue="9090"/>
    <variable name="default.https.port" defaultValue="9091"/>

    <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}" 
                  id="defaultHttpEndpoint" />

    <keyStore id="defaultKeyStore" password="secret" />

    <basicRegistry id="basic" realm="WebRealm">
        <user name="bob" password="{xor}PTA9Lyg7" />  <!-- bobpwd -->
        <user name="alice" password="{xor}PjM2PDovKDs=" />  <!-- alicepwd -->
        <user name="carl" password="{xor}PD4tMy8oOw==" />   <!-- carlpwd -->

        <group name="myAdmins">
            <member name="bob" />
        </group>

        <group name="myUsers">
            <member name="bob" />
            <member name="alice" />
            <member name="carl" />
        </group>
    </basicRegistry>

    <application location="frontend.war" context-root="/">
        <application-bnd>
            <security-role name="admin">
                <group name="myAdmins" />
            </security-role>
            <security-role name="user">
                <group name="myUsers" />
            </security-role>
        </application-bnd>
    </application>

    <!-- This JWT builder is used to build a JWT for an authenticated user.
             JWTs generated by this builder contain
             the user name and roles of the authenticated user. -->
    <jwtBuilder id="jwtFrontEndBuilder" issuer="http://openliberty.io" expiry="24h"/>
    
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />

</server>
<!-- end::jwt[] -->
