<?xml version="1.0" encoding="UTF-8"?>
<server description="query service">

    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>cdi-4.0</feature>
        <!-- tag::mpconfig[] -->
        <feature>mpConfig-3.0</feature>
        <!-- end::mpconfig[] -->
        <feature>mpRestClient-3.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9085"/>
    <variable name="default.https.port" defaultValue="9448"/>

    <httpEndpoint id="defaultHttpEndpoint"
        host="*"
        httpPort="${default.http.port}" 
        httpsPort="${default.https.port}"/>

    <webApplication contextRoot="/query"
                    location="guide-microprofile-config-profile-query.war"/>

</server>
