.bold {
    font-weight: 500;
}

#header_background {
    padding-top: 62px;
}

#docs_intro_container {
    margin-right: 67px;
    margin-left: 138px
}

#docs_intro_background {
    position: relative;
    padding-top: 22px;
    padding-bottom: 18px;
    background:#313653;
}

#docs_title {
    padding-top:110px;
}

#docs_description {
    color: white;
}

#docs_open_guides_box {
    padding-bottom: 72px;
    padding-left: 65px;
    padding-right: 65px;
    display: block;
    border-left: solid 26px #B8BECE;
    background-color: white;
    letter-spacing: 0;
}

#contribute_intro_paragraph_1 {
    letter-spacing: 0;
    line-height: 35px;
}

#reference_header {
    font-family: BunueloBold;
    font-size: 14px;
    color: #24243b;
    letter-spacing: 0;
    line-height: 26px;
    text-align: left;
}

#reference_title {
    padding-top: 37px;
}

#reference_title,
#all_guides_title {
    font-family: BunueloLight;
    font-size: 35px;
    color: #1b1c34;
    letter-spacing: 0;
    padding-bottom: 24px;
}

#all_guides_title {
    padding-top: 88px;
}

.grey_background {
    background-color: #EEEFF3;
    padding-top: 22px;
}

.reference_background {
    background:#f1f4fe;
    padding-top: 44px;    
}

#all_guides_container {
    padding-bottom: 22px;
}

#all_guides_description {
    padding-bottom: 45px;
}

#all_guides_link_container {
    text-align: left;
}

#all_guides_link {
    display: inline-block;
    font-size: 16px;
    color: #1A1B31;
    background-color: #ABD155;
    border-radius: 100px;
    padding: 15px 20px 15px 20px;
    margin-bottom: 5px;
    text-align: center;
    transition: background-color .2s;
    width: 260px;
}
#all_guides_link:hover{
    background-color: #C7EE63;
}

#docs_all_interactive_guides_link {
    display: inline-block;
    font-size: 16px;
    color: #F4914D;
    background-color: white;
    border:2px solid;
    border-radius:100px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
    text-align: center;
    width: 260px;
}

#all_interactive_guides_link {
    height: 55px;
    width: 387px;
    display: block;
    box-shadow: 0 2px 4px 0 rgba(63,70,89,0.31);
    transition: box-shadow .2s, border .2s;
    background-color: white;
    position: absolute;
    top: 307px;
    left: -30px;
}

#docs_all_interactive_guides_link:hover {
    transition: all .2s;
    color: #E3700D;
}

#lightning_bolt {
    float:left;
}

#all_guides_lightning_bolt {
    float: left;
    padding: 16px 12px;
    height: inherit;
    width: 36px;
    background-color: #F4914D;
}

#interactive_guides_description {
    font-size: 14px;
    color: #3F465A;
    letter-spacing: 0;
    line-height: 17px;
    padding: 9px 40px 12px 57px;
}

#mp_logo,
#javaee_logo {
    display: block;
    margin: 0 auto;
    height: 118px;
}

.reference_item {
    border-left: solid 9px #B8BECE;
}

#code_block {
    background-image: url('/img/docs_codeText.png');
    background-size: cover;   
    height: 401px;
    width: 504px;
    float: right;
}

#star1 {
    position: absolute;
    top: 97px;
    right: calc(50% + 272px);    
    animation: blink 3s infinite;
}

#star2 {
    position: absolute;
    top: 401px;
    right: calc(50% + 177px);    
    animation: blink 4s infinite;
}

#star3 {
    position: absolute;
    top: 47px;
    right: calc(50% + 642px);
    animation: blink 5s infinite;
}

#ufo {
    position: absolute;
    top: 294px;
    right: calc(50% + 222px);
}

#leftcloud {
    position: absolute;
    right: calc(50% + 190px);
    bottom: 0px;
    height: 100px;
    width: 530px;
}

#rightcloud {
    position: absolute;
    right: 0px;
    bottom: 31px;
    height: 250px;
    width: 67px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (min-width: 1441px) {
    #star1 {
        left: 443px;
    }
    
    #star2 {
        left: 539px;
    }
    
    #star3 {
        left: 66px;
    }
    
    #ufo {
        left: 224px;
    }
    
    #leftcloud {
        left: 0px;
    }
}

@media (max-width: 1199px) {
    .reference_item {
        width: 100%;
        height: auto;
    }
    #code_block {
        width: 476px;
    }
    #all_guides_link_container {
        text-align: center;
    }
}

@media (max-width: 991px) {
    #code_block {
        display: none;
    }
    #docs_intro_container {
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 0px;
    }
    #all_guides_link_container {
        text-align: left;
    }
    #docs_all_interactive_guides_link {
        margin-left: -55px;
    }
}

@media (max-width: 767px) {
    #header_background {
        padding-top: 0;
    }
    #all_guides_link_container {
        text-align: center;
    }

    #all_guides_link {
        max-width: 260px;
        width: 100%;
    }
    #docs_all_interactive_guides_link {
        margin-left: 0px;
        max-width: 260px;
        width: 100%;
    }
}