#overview_pane {
    padding: 0;
    max-width: 278px;
}

#overview_pane li {
    border-left: 20px solid transparent;
    padding-left: 31px;
    margin-bottom: 8px;
    height: 26px;
}

#overview_pane li:hover:has(a) {
    border-left: 20px solid #f69144;
}

#overview_pane li:hover > a {
    color: #f69144;
    cursor: pointer;
}

#overview_pane li a {    
    font-family:Asap-Regular;
    font-size:20px;
    color:#5d6a8e;
    letter-spacing:0;
    line-height:26px;
    text-align:left;
}

#overview_links {
    list-style-type: none;
    padding-left: 0;
}

#overview_pane #getting_started {
    margin-bottom: 42px;
}

#overview_pane #all_guides_link {
    color: #5D6A8E;
    margin-bottom: 50px;
}

#reference_header {
    font-family:BunueloCleanPro-SemiBold;
    font-size:14px;
    color:#24243b;
    letter-spacing:0;
    line-height:26px;
    text-align:left;
}

#content {
    background:#ffffff;
    box-shadow:0 2px 4px 0 rgba(63,70,89,0.31);
    /* height:1239px; */
}

#search_container {
    border-left: 20px solid transparent;
    padding-left: 31px;
    float: none;
}

#guide_search_input {
    font-family:Asap-Regular;
    font-size:20px;
    color: #5d6a8e;
    border: 0;
    border-bottom: 1px solid #f69144;
    border-radius: 0;
    margin-bottom: 44px;
    background-image: url(/img/guides_search_icon.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    transition: border-color .2s;
    line-height: 26px;
    height: 26px;
    width: 161px;
    letter-spacing: 0;
    padding-left: 0;
}

.resource_title_container {
    background-color: #f8fae7;
    margin-bottom: 40px;
    padding: 35px 0px 13px 41px;
}

.resource_title {
    font-family:BunueloCleanPro-Light;
    font-size:50px;
    color:#1b1c34;
    letter-spacing:0;
    text-align:left;
}

.information_container{
    padding-left: 41px;    
}

@media (min-width: 768px){
    .information_container{
        margin-bottom: 52px;
    }
}

#guides_container {
    /* height: 272px; */
    margin: 0;
}

@media (min-width: 768px){
    #guides_content_container {
        /* display: flex; */
        white-space: nowrap;
        /* padding-left: 41px; */
    }
}

.guide_column {
    display: inline-block;
    float: left;
    white-space: normal;
}

/* @media (min-width: 768px){
    .guide_column:nth-child(1){
        padding-left: 0;
    }
} */

footer {
    clear: left;
}

#footer_container {
    width: 100%;
}
