
#overview_pane {
    float: left;
}

#overview_pane > div {
    border-left: 5px solid transparent;
    margin-bottom: 8px;
    height: 26px;
}

#overview_pane > div:hover {
    border-left: 5px solid #f69144;
}

#overview_pane > div > a {    
    font-family:Asap-Regular;
    font-size:20px;
    color:#5d6a8e;
    letter-spacing:0;
    line-height:26px;
    text-align:left;
}

#getting_started {
    margin-bottom: 42px;
}

#all_guides_link {
    color: #5D6A8E;
}

#content {

}

#search_container {
    float: none;
}

.information_container{}

#guides_container {
    /* background-color: lightgray; */
}

#guides_content_container {
    display: flex;
    overflow-y: hidden;
    white-space: nowrap;
}

.guide_column {
    display: inline-block;
    float: left;
    white-space: normal;
}

footer {
    clear: left;
}