.bold {
    font-weight: 700;
}

#docs_intro_background {
    padding-top: 190px;
    padding-bottom: 170px;
    margin-bottom: 25px;
}

#docs_title {
    font-family: BunueloLight;
    font-size: 80px;
    color: #FFFFFF;
    letter-spacing: 2.5px;
    line-height: 80px;
}

#contribute_intro_paragraph_1 {
    letter-spacing: 0;
    line-height: 35px;
    font-family: Asap;
}

#reference_header {
    font-family: BunueloBold;
    font-size: 14px;
    color: #24243b;
    letter-spacing: 0;
    line-height: 26px;
    text-align: left;
}

#reference_title,
#all_guides_title {
    font-family: BunueloLight;
    font-size: 40px;
    color: #1b1c34;
    letter-spacing: 0;
    padding-bottom: 24px;
}

#all_guides_title {
    padding-top: 84px;
}

.grey_background {
    background-color: #EEEFF3;
    padding-top: 22px;
}

#all_guides_container {
    padding-bottom: 22px;
}

#all_guides_description {
    padding-bottom: 45px;
}

#all_guides_link {
    display: block;
    font-size: 20px;
    color: #1A1B31;
    background-color: #ABD155;
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 8px;
    text-align: center;
    transition: background-color .2s;
    min-width: 280px;
    max-width: 350px;
}
#all_guides_link:hover{
    background-color: #C7EE63;
}

#all_interactive_guides_link {
    height: 55px;
    width: 387px;
    display: block;
    box-shadow: 0 2px 4px 0 rgba(63,70,89,0.31);
    transition: box-shadow .2s, border .2s;
    background-color: white;
    position: absolute;
    top: 307px;
    left: -30px;
}

#all_interactive_guides_link:hover #all_guides_lighting_bolt {
    transition: all .2s;
    background-color: #E3700D;
}

#all_guides_lighting_bolt {
    float: left;
    padding: 16px 12px;
    height: inherit;
    width: 36px;
    background-color: #F4914D;
}

#interactive_guides_description {
    font-size: 14px;
    color: #3F465A;
    letter-spacing: 0;
    line-height: 17px;
    padding: 9px 40px 12px 57px;
}

#mp_logo,
#javaee_logo {
    display: block;
    margin: 0 auto;
    height: 118px;
}

footer {
    clear: left;
    display: none;
}

#footer_container {
    width: 100%;
}

#code_block {
    background-image: url('/img/docs_codeText.png');
    background-size: cover;   
    height: 401px;
    width: 504px;
    float: right;
}

@media (max-width: 1199px) {
    .reference_item {
        width: 100%;
        height: auto;
    }
    #code_block {
        width: 476px;
    }
}

@media (max-width: 991px) {
    #code_block {
        display: none;
    }
}