#docsandguides_intro_background {
    padding-top: 190px;
    padding-bottom: 170px;
    margin-bottom: 25px;
}

#docsandguides_title {
    font-family: BunueloCleanPro-Light;
    font-size: 80px;
    color:#FFFFFF;
    letter-spacing: 2.5px;
    line-height: 80px;
}

#overview_pane {
    padding: 0;
    max-width: 278px;
}

#overview_pane li {
    border-left: 20px solid transparent;
    padding-left: 31px;
    margin-bottom: 8px;
    height: 26px;
}

#overview_pane li:hover:has(a) {
    border-left: 20px solid #f69144;
}

#overview_pane li:hover > a {
    color: #f69144;
    cursor: pointer;
}

#overview_pane li a {    
    font-family:Asap-Regular;
    font-size:20px;
    color:#5d6a8e;
    letter-spacing:0;
    line-height:26px;
    text-align:left;
}

#overview_links {
    list-style-type: none;
    padding-left: 0;
}

#overview_pane #getting_started {
    margin-bottom: 42px;
}

#overview_pane #all_guides_link {
    color: #5D6A8E;
    margin-bottom: 50px;
}

#reference_header {
    font-family:BunueloCleanPro-SemiBold;
    font-size:14px;
    color:#24243b;
    letter-spacing:0;
    line-height:26px;
    text-align:left;
}

#search_container {
    border-left: 20px solid transparent;
    padding-left: 31px;
    float: none;
}

#guide_search_input {
    font-family:Asap-Regular;
    font-size:20px;
    color: #5d6a8e;
    border: 0;
    border-bottom: 1px solid #f69144;
    border-radius: 0;
    margin-bottom: 44px;
    background-image: url(/img/guides_search_icon.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    transition: border-color .2s;
    line-height: 26px;
    height: 26px;
    width: 161px;
    letter-spacing: 0;
    padding-left: 0;
}

#reference_title,
#all_guides_title {
    font-family:BunueloCleanPro-Light;
    font-size: 40px;
    color:#1b1c34;
    letter-spacing: 0;
    padding-bottom: 24px;
}

#all_guides_title {
    padding-top: 84px;
}

.information_container{
    padding-left: 41px;    
}

.grey_background {
    background-color:#EEEFF3;
    padding-top: 22px;
}

#all_guides_container {
    padding-bottom: 22px;
}

#all_guides_description {
    padding-bottom: 45px;
}

#all_guides_link {
    display: block;
    font-size: 20px;
    color: #1A1B31;
    background-color: #ABD155;
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 8px;
    text-align: center;
    transition: background-color .2s;
    min-width: 280px;
    max-width: 350px;
}

.guide_column {
    display: inline-block;
    float: left;
    white-space: normal;
}

footer {
    clear: left;
}

#footer_container {
    width: 100%;
}