/* INTRO */

#guides_intro_background {
    padding-top: 190px;
    padding-bottom: 170px;
    margin-bottom: 40px;
}

#contribute_intro_paragraph_1 {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 0;
}

#guide_search_input {
    width: 50%;
    font-size: 16px;
    color: #3f4659;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 43px;
    border: solid 3px #c0cae3;
    border-radius: 100px;
    outline: none;
    margin-bottom: 50px;
    background-image: url('/img/guides_search_icon.svg');
    background-repeat: no-repeat;
    background-position: left 20px center;
}

#guide_search_input:hover {
    border-color: #a2b0d3;
}

#guide_search_input:focus {
    border-color: #8194C7;
}

#guide_search_input::-webkit-input-placeholder {
    color: #8194c7;
}

#guide_search_input::-moz-placeholder {
    color: #8194c7;
}

#guide_search_input::-ms-input-placeholder {
    color: #8194c7;
}

#guide_search_input:-ms-input-placeholder {
    color: #8194c7;
}

#guides_information_container {
    margin-bottom: 52px;
}

#guide_counter_title {
    margin-top: 0;
    margin-bottom: 18px;
}

#guide_sort_message {
    font-size: 16px;
    color: #3f4659;
}

#guides_container {
    margin-bottom: 40px;
}

.guide_item {
    margin-bottom: 40px;
    height: 215px;
    width: 325px;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 14px;
    display: block;
    border-left: solid 9px #eeeff3;
    box-shadow:0 2px 4px 0 rgba(63,70,89,0.31);
    transition: box-shadow .2s, border .2s;
}

.guide_item:hover {
    box-shadow:0 2px 4px 0 rgba(63,70,89,0.59);
    border-left: solid 9px #e6eda8;
}

.guide_title_and_description_container {
    height: 150px;
    overflow: hidden;
}

.guide_title {
    color: #24253a;
    margin-top: 0;
    margin-bottom: 14px;
    overflow: hidden;
}

.guide_description {
    color: #5e6b8d;
    margin: 0;
}

.duration_clock_icon {
    margin-left: 5px;
}

.guide_duration {
    font-size: 11px;
    color: #24253a;
    margin-left: 9px;
}

@media (max-width: 1199px) {

    .guide_item {
        width: 280px;
    }

}

@media (max-width: 991px) {

    .guide_item {
        width: 330px;
    }

}

@media (max-width: 767px) {

    #guides_intro_background {
        padding-top: 60px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    #intro_logo {
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    #guides_container {
        margin-bottom: 30px;
    }

    #contribute_intro_paragraph_1 {
        font-size: 16px;
        line-height: inherit;
    }
    
    #guide_search_input {
        width: 90%;
    }
    
    .guide_item {
        width: 100%;
    }

}