/* NAVIGATION BAR */

.navbar {
    padding: 18px 0px 18px 0px;
    width: 80%;
    margin: 0 auto;
}

.navbar-custom {
    background-color: #FFFFFF;
}

#ol_nav_title {
    font-size: 24px;
    font-family: BunueloBold;
    color: #2C2E50;
    display: inline-block;
    margin: 0 auto;
}

#tablet_nav {
    width: max-content;
}

.navbar-light .navbar-nav .nav-link {
    margin-left: 34px;
    font-size: 16px;
    color: #5E6B8D;
}

#fork_button {
    border: 1px solid #ABD155;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 31px;
    padding-right: 31px;
    margin-top: 2px;
    color:#4F660A;
}

#fork_button:hover {
    border: 1px solid #4F660A;
}

#fork_button {
    display: inline-block;
}

#float_right_section {
    width: 100%;
    text-align: right;
}

#header_round_links_container {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 97px;
}

#header_twitter_link {
    background-image: url("/img/Header_TwitterBird.svg");
}

#header_stackoverflow_link {
    background-image: url("/img/Header_StackO.svg");
    margin-left: 32px;
}

#header_groupsio_link {
    background-image: url("/img/Header_GroupsIO.svg");
    margin-left: 32px;
}

.header_round_btn {
    display: inline-block;
    height: 68px;       
    width: 68px;
}

#tablet_images {
    width: 100%;
}


@media (max-width: 991px) {

    .navbar {
        padding: 0;
        width: 100%;
        height: 46px;
    }
    
    #tablet_nav {
        width: 100%;
    }

    #navbarNav {
        max-width: 67%;
        z-index: 9999;
        margin-left: 33%;
    }

    .navbar-brand {
        margin-left: 18px;
    }

    .navbar-toggler {
        border: none;
    }
    
    .close_button {
        color: #2C2E50;
        position: absolute;
        top: -34px;
        right: calc(0% + 46px);
    }

    .navbar-toggler.collapsed > .close_button, .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
        display: none;
    }

    .navbar-toggler:not(.collapsed) {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 46px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(63, 70, 89, 0.4);
        z-index: 2;
        cursor: pointer;
        pointer-events: none;
    }

    .close_button {
        pointer-events: auto;
    }

    .navbar-nav {
        margin-top: 24px;
    }

    .navbar-collapse {
        background-image: radial-gradient(circle at top right, #5E6B8D 0%, #2C2E50 91%);
    }

    .navbar-light .navbar-nav .nav-link, #fork_button {
        font-family: BunueloLight;
        font-size: 35px;
        color: #FFFFFF;
        margin-right: 26px;
        margin-left: 26px;
    }

    #float_right_section {
        text-align: left;
    }

    #fork_button {
        border: none;
        padding-left: 0;
        padding-top: 8px;
        padding-bottom: 27px;
        border-bottom: 1px solid rgba(201, 214, 254, 0.35);
        border-radius: 0px;
    }

    #fork_button:hover {
        color: #FFFFFF;
        border: none;
        border-bottom: 1px solid rgba(201, 214, 254, 0.35);
    }

    #fork_button {
        display: block;
    }

}

@media (max-width: 767px) {
    #navbarNav {
        max-width: 100%;
        margin-left: 0;
        border-bottom: 2px solid #FAFFC7;
    }

    #header_round_links_container {
        margin-bottom: 40px;
    }

    .close_button {
        color: #2C2E50;
        position: absolute;
        top: -34px;
        right: calc(0% + 22px);
    }

}