/* NAVIGATION BAR */

main {
    margin-top: -60px;
}

.navbar {
    padding: 10px 0px 10px 0px;
    width: 80%;
    max-width: 1560px;
    margin: 0 auto;
    z-index: 9999;
}

.bg-custom {
    background-color: transparent;
}

.qa-descriptor {	
    position: absolute;	
    top: 10px;	
    right: 10px;	
    color: blue;	
    background-color: orange;	
    padding: 10px 15px;	
}

#ol_logo {
    width: 37px;
    height: 27px;
}

#ol_nav_title {
    font-size: 24px;
    font-family: BunueloBold, Arial Narrow, Helvetica, Arial;
    color: #FFFFFF;
    display: inline-block;
    margin: 0 auto;
}

#tablet_nav {
    width: auto;
}

.navbar-dark .navbar-nav .nav-link {
    margin-left: 34px;
    font-size: 16px;
    color: #C9D6FE;
    white-space: nowrap;
}

#fork_button {
    border: 1px solid #ABD155;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 31px;
    padding-right: 31px;
    margin-top: 2px;
    color: #E6EDA8;
}

#fork_button:hover {
    border: 1px solid #E6EDA8;
}

#fork_button {
    display: inline-block;
}

#float_right_section {
    width: 100%;
    padding-right: 15px;
    text-align: right;
}

#header_round_links_container {
    text-align: center;
    margin-top: 45px;
    padding-bottom: 183px;
}

#header_twitter_link {
    background-image: url("/img/Header_TwitterBird.svg");
}

#header_stackoverflow_link {
    background-image: url("/img/Header_StackO.svg");
    margin-left: 32px;
}

#header_groupsio_link {
    background-image: url("/img/Header_GroupsIO.svg");
    margin-left: 32px;
}

.header_round_btn {
    display: inline-block;
    height: 68px;       
    width: 68px;
}

#tablet_images {
    width: 100%;
}


@media (max-width: 991.98px) {
    main {
        margin-top: -46px;
    }

    .navbar {
        padding: 0;
        width: 100%;
        height: 46px;
        border-bottom: 1px solid rgba(94, 107, 141, 0.29);
    }
    
    #tablet_nav {
        width: 100%;
        max-width: 100%;
    }

    #navbarNav {
        max-width: 67%;
        z-index: 9999;
        margin-left: 33%;
        margin-top: -46px;
    }

    .navbar-brand {
        margin-left: 18px;
        z-index: 99999;
    }

    .navbar-toggler {
        border: none;
        z-index: 99999;
    }

    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(235, 247, 173)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        z-index: 9999999;
    }
    
    .close_button {
        position: relative;
        left: -10px;
        z-index: 99999;
    }

    .navbar-toggler.collapsed > .close_button, .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
        display: none;
    }

    .navbar-nav {
        padding-top: 25px;
        border-top: 1px solid rgba(94, 107, 141, 0.29);
        margin-top: 45px;
    }

    .navbar-collapse {
        background-image: radial-gradient(circle at bottom left, #5E6B8D 0%, #2C2E50 91%);
    }

    .navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active, #fork_button {
        font-family: BunueloLight, Arial Narrow, Helvetica, Arial;
        font-size: 35px;
        color: #FFFFFF;
        margin-right: 26px;
        margin-left: 26px;
    }

    #float_right_section {
        text-align: left;
    }

    #fork_button {
        border: none;
        padding-left: 0;
        padding-top: 8px;
        padding-bottom: 27px;
        border-bottom: 1px solid rgba(201, 214, 254, 0.35);
        border-radius: 0px;
    }

    #fork_button:hover {
        color: #FFFFFF;
        border: none;
        border-bottom: 1px solid rgba(201, 214, 254, 0.35);
    }

    #fork_button {
        display: block;
    }

}

@media (max-width: 767.98px) {
    #navbarNav {
        max-width: 100%;
        margin-left: 0;
        border-bottom: 2px solid #FAFFC7;
    }

    #header_round_links_container {
        margin-bottom: 40px;
    }

    .navbar-collapse.collapse.show {
        height: 100vh;
    }

    #ol_nav_title {
        visibility: hidden;
    }

    .qa-descriptor {
        display: none;
    }

}