#nav_bar {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 99999;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 10%;
    padding-right: 10%;
    border-bottom: 1px solid rgba(63,70,89,0.22);
    // box-shadow: -2px 2px 9px -1px rgba(63,70,89,0.22);
    background-color: #ffffff;
}

#ol_logo {
    float: left;
    margin-top: 18px;
    margin-right: 30px;
    width: 37px;
    height: 27px;
}

.nav_list {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 99999;
    
    li {
        float: left;

        a {
            display: inline-block;
            color: #5E6B8D;
            text-align: center;
            padding: 18px 25px;

            &:hover {
                color: #24253A;
                opacity: 1;
            }
        }
    }
}

#fork_button {
    float: right;
    color: #4F660A;
    border: 1px solid #ABD155;
    border-radius: 3px;
    padding: 2px 31px;
    margin-top: 12px;
    margin-bottom: 12px;
}

main {
    margin-top: -60px;
}