#nav_bar {
    border-bottom: none;
    box-shadow: none;
}

.nav_list li a {
    color: #ffffff;

    &:hover {
        color: #ffffff;
        opacity: .75;
    }

}

#fork_button {
    color: #E6EDA8;
}
