/* NAVIGATION BAR */

.navbar {
    padding: 18px 0px 18px 0px;
    width: 80%;
    margin: 0 auto;
}

.navbar-custom {
    background-color: #FFFFFF;
}

#ol_nav_title {
    font-size: 24px;
    font-family: BunueloBold;
    color: #2C2E50;
    display: inline-block;
    margin: 0 auto;
}

#tablet_nav {
    width: max-content;
}

.navbar-light .navbar-nav .nav-link {
    margin-left: 34px;
    font-size: 16px;
    color: #5E6B8D;
}

#fork_button {
    border: 1px solid #ABD155;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 31px;
    padding-right: 31px;
    margin-top: 2px;
    color:#4F660A;
}

#fork_button:hover {
    border: 1px solid #4F660A;
}

#nav_search_input {
    height: 30px;
    width: 160px;
    padding-left: 33px;
    margin-left: 41px;
    border: 1px solid #444B6D;
    border-radius: 2px;
    background-image: url(/img/magnify.png);
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: left 10px center;
    margin-bottom: 4px;
}

#fork_button, #search_form {
    display: inline-block;
}

#float_right_section {
    width: 100%;
    text-align: right;
}

#header_round_links_container {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 97px;
}

#header_twitter_link {
    background-image: url("/img/Header_TwitterBird.svg");
}

#header_stackoverflow_link {
    background-image: url("/img/Header_StackO.svg");
    margin-left: 32px;
}

#header_groupsio_link {
    background-image: url("/img/Header_GroupsIO.svg");
    margin-left: 32px;
}

.header_round_btn {
    display: inline-block;
    height: 68px;       
    width: 68px;
}

#tablet_images {
    width: 100%;
}


@media (max-width: 991px) {

    .navbar {
        padding: 0;
        width: 100%;
        height: 46px;
    }
    
    #tablet_nav {
        width: 100%;
    }

    #navbarNav {
        max-width: 67%;
        z-index: 9999;
        margin-left: 33%;
    }

    .navbar-brand {
        margin-left: 18px;
    }

    .navbar-toggler {
        border: none;
    }
    
    .close_button {
        color: #2C2E50;
    }

    .navbar-toggler.collapsed > .close_button, .navbar-toggler:not(.collapsed) > .navbar-toggler-icon {
        display: none;
    }

    .navbar-nav {
        margin-top: 24px;
    }

    .navbar-collapse {
        background-image: radial-gradient(circle at top right, #5E6B8D 0%, #2C2E50 91%);
    }

    .navbar-light .navbar-nav .nav-link, #fork_button {
        font-family: BunueloLight;
        font-size: 35px;
        color: #FFFFFF;
        margin-right: 26px;
        margin-left: 26px;
    }

    #float_right_section {
        text-align: left;
    }

    #fork_button {
        border: none;
        padding-left: 0;
        padding-top: 8px;
        padding-bottom: 27px;
        border-bottom: 1px solid rgba(201, 214, 254, 0.35);
        border-radius: 0px;
    }

    #fork_button:hover {
        color: #FFFFFF;
        border: none;
        border-bottom: 1px solid rgba(201, 214, 254, 0.35);
    }

    #fork_button, #search_form {
        display: block;
    }

    #search_form {
        text-align: center;
    }

    #nav_search_input {
        margin-left: auto;
        margin-right: auto;
        padding-left: 46px;
        margin-top: 27px;
        background: rgba(255,255,255,0.0);
        background-image: url(/img/magnify_white.svg);
        background-repeat: no-repeat;
        background-position: left 10px center;
        border: 1px solid #C9D6FE;
        border-radius: 3px;
        width: 82%;
        height: 55px;
        color: #FFFFFF;
        font-family: BunueloLight;
        font-size: 22px;
    }
}

@media (max-width: 767px) {
    #navbarNav {
        max-width: 100%;
        margin-left: 0;
    }

    #header_round_links_container {
        margin-bottom: 40px;
    }
}