section.banner {
    background-color: white;
    padding: 66px 0 73px 0;
    border-bottom: 3px solid #d4d7e3;
}

#guide_title {
    font-family: BunueloLight;
    font-size: 35px;
    color: #1b1c34;
    letter-spacing: 0;
    text-align: center;
    line-height: 35px;
    margin-bottom: 41px;
}

#guide_meta {
    margin: 0 auto;
    width: 72%; /* calculated to match .sect1 - 80% width of center column which is 90% of background_container */
    max-width: 1082px;
}

#guide_meta a {
    font-weight: 500;
    color: #E3700D;
    transition: color .2s;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#preamble p {
    font-size: 20px;
    text-align: center;
    line-height: 34px;
}

#background_container {
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

.gray_background {
    background-color: #f1f4fe;
}

.centered_column {
    margin: 0 auto;
    max-width: 1315px;
}

#guide_content div.sect1 {
    padding-left: 10%;
    padding-right: 10%;
}

#guide_content h1 {
    font-family: BunueloLight;
}

#guide_content h2 {
    font-family: BunueloBold;
}