#toc_title {
    font-family: BunueloBold;
}

#toc_container a {
    font-family: BunueloLight;
}

#guide_content h1 {
    font-family: BunueloLight;
}

#guide_content h2 {
    font-family: BunueloBold;
}

#background_container {
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

.gray_background {
    background-color: #f1f4fe;
}

.centered_column {
    margin: 0 auto;
    max-width: 1315px;
}

section.banner {
    background-color: white;
    padding: 66px 0 73px 0;
    border-bottom: 3px solid #d4d7e3;
}

#guide_title {
    font-family: BunueloCleanPro-Light;
    font-size: 35px;
    color: #1b1c34;
    letter-spacing: 0;
    text-align: center;
    line-height: 35px;
    margin-bottom: 41px;
}

#guide_meta {
    margin: 0 auto;
    width: calc( 95% * 0.8 );
    max-width: 1082px;
}

#preamble p {
    font-size: 20px;
    text-align: center;
    line-height: 34px;
}

#guide_content div.sect1 {
    padding-left: 10%;
    padding-right: 10%;
}