section.banner {
    background-color: white;
    padding: 66px 0 73px 0;
    border-bottom: 3px solid #d4d7e3;
}

#intro_title {
    font-family: BunueloLight, Arial Narrow, Helvetica, Arial;
    font-size: 35px;
    color: #1b1c34;
    letter-spacing: 0;
    text-align: center;
    line-height: 35px;
    margin-bottom: 41px;
}

#intro_meta {
    margin: 0 auto;
    width: 72%; /* calculated to match .sect1 - 80% width of center column which is 90% of background_container */
    max-width: 1082px;
}

#intro_meta a {
    font-weight: 500;
    color: #E3700D;
    transition: color .2s;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#preamble p {
    font-size: 20px;
    text-align: center;
    line-height: 34px;
}

#background_container {
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    border-bottom: 3px solid #d4d7e3;
}

.gray_background {
    background-color: #f1f4fe;
}

.centered_column {
    margin: 0 auto;
    max-width: 1315px;
}

#intro_column {
    padding-top: 0px;
    padding-bottom: 0px;
}

#intro_content .sect1 > .sectionbody {
    padding-top: 19px;
}

#intro_content div.sect1 {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0px;
    background-color: white;
}

#intro_content div.sect1:not(#intro_meta) {
    box-shadow: inset 0px 52px 0px 0px #F7F9E5;
}

#intro_content div.sect1:not(#intro_meta):not(:first-child) {
    border-top: 3px solid #d4d7e3;
}

#intro_content h1, 
#intro_content h2, 
#intro_content h3, 
#intro_content h4, 
#intro_content h5 {
    color: #1B1C34;
}

#intro_content h2 {
    font-family: BunueloBold, Arial Narrow, Helvetica, Arial;
    line-height: 26px;
    font-size: 20px;
}

#intro_content h3 {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 0px;
}

#intro_content h4 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 18px;
    margin-bottom: 3px;
}

#intro_content h5 {
    margin-bottom: 0px;
}

#intro_content p {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 26px;
}

#intro_content a {
    font-weight: 500;
    color: #CC4D19;
    transition: color .2s;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

#intro_content a:hover {
    color: #F4914D;
}

#intro_content code {
    /* Bootstrap override */
    background-color: #F3F4F7;
    color: #5e6b8d;
    word-wrap: break-word;
}

#intro_content .sect1 h2 {
    padding-top: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#intro_content .sect3 {
    padding-top: 10px;
}

#intro_content .sect4 p {
    padding-top: 5px;
}

#intro_content img {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    display: block;
}