#issues_block {
    display: table;
    width: 100%;
}

#issues_content {
    height: 480px;
    position: relative;
    overflow: hidden;
    display: table-cell;
}

#issues_message {
    margin-top: 220px;
}

#issues_content .issue {
    display: block;
    background-color: white;
    color: black !important;
    padding-top: 26px;
    padding-left: 30px;
    padding-right: 20px;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    height: 130px;
    transition: all .8s;
}

#issues_content .issue h3 {
    font-weight: 500;
}

#issues_content .issue:hover .issue_green_bar{    
    transition: all .2s;
    background-color: #d1d991;
}

#issues_content .issue:hover h3 {
    transition: all .2s;
    color: #5e6b8d;
}

#issues_content .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .8s;
}

#issues_content .issue_2 .shadow, #issues_content .issue_3 .shadow, #issues_content .issue_4 .shadow {
    opacity: 0;
}

#issues_content .issue_0 .shadow, #issues_content .issue_1 .shadow, #issues_content .issue_2 .shadow  {
    background: -moz-linear-gradient(top, rgba(40,41,72,1) 0%, rgba(75,76,119,0) 100%);
    background: -webkit-linear-gradient(top, rgba(40,41,72,1) 0%,rgba(75,76,119,0) 100%);
    background: linear-gradient(to bottom, rgba(40,41,72,1) 0%,rgba(75,76,119,0) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282948', endColorstr='#004b4c77',GradientType=0 );
}

#issues_content .issue_4 .shadow, #issues_content .issue_5 .shadow, #issues_content .issue_6 .shadow {
    background: -moz-linear-gradient(top, rgba(75,76,119,0) 0%, rgba(40,41,72,1) 100%);
    background: -webkit-linear-gradient(top, rgba(75,76,119,0) 0%,rgba(40,41,72,1) 100%);
    background: linear-gradient(to bottom, rgba(75,76,119,0) 0%,rgba(40,41,72,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004b4c77', endColorstr='#282948',GradientType=0 );
}

#issues_content .issue_green_bar {
    background-color: #E6EDA8;
    position: absolute;
    top:0; left: 0;
    width: 10px;
    height: 100%
}

#issues_content .issue h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 45px;
}

#issues_content .issue p {
    color: #5E6B8D;
    font-size: 14px;
}

#issues_content .issue_0 {
    top: -95px;
    transform: scale(.6);
    z-index: 993;
    background-color: #efefef;
    opacity: 0;
}

#issues_content .issue_1 {
    top: -60px;
    transform: scale(.8);
    z-index: 994;
    background-color: #efefef;
}

#issues_content .issue_2 {
    top: 40px;
    transform: scale(.89);
    z-index: 995;
}

#issues_content .issue_3 {
    top: 175px;
    z-index: 999;
}

#issues_content .issue_4 {
    top: 310px;
    transform: scale(.89);
    z-index: 998;
}

#issues_content .issue_5 {
    top: 415px;
    transform: scale(.8);
    z-index: 997;
    background-color: #efefef;
}

#issues_content .issue_6 {
    top: 500px;
    transform: scale(.6);
    z-index: 996;
    background-color: #efefef;
    opacity: 0;
}


#issues_arrows {
    width: 80px;
    display: table-cell;
    vertical-align: middle;
}

#issues_arrows .issues_arrow {
    margin-left: 50px;
    width: 30px;
    display: block;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .2s;
}

#issues_up_arrow {
    background-image: url('/img/up_arrow_blue.svg');
}

#issues_up_arrow:hover {
    background-image: url('/img/up_arrow_yellow.svg');
}

#issues_down_arrow {
    background-image: url('/img/down_arrow_blue.svg');
}

#issues_down_arrow:hover {
    background-image: url('/img/down_arrow_yellow.svg');
}
