#docs_container {
    padding-top: 155px;
}

#foo {
    display: inline-block;
}

#doc_title {
    padding-left: 20px;
}

#doc_logo {
    margin-left: 44px;
}

#navbar_breadcrumb {
    background-color: transparent;
    padding: 0px;
    margin-left: 20px;
    margin-top: 22px;
}

/* Change default bootstrap breadcrumb separator */
.breadcrumb > li + li:before {
    content: "> ";
}