#background_container{
    padding-top: 121px;
    background-color: #313653;
    background-image: none;
}

@media (max-width: 767px) {
    #background_container {
        padding-top: 0;
    }
}

.extendedContainer {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.fadeFooter {
    display: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#foo {
    display: inline-block;
}

#doc_logo,
#doc_title {
    float: left;
}

#doc_title {
    padding-left: 20px;
}

#breadcrumb_row {
    height: 41px;
}

@media (max-width: 767px){
    #breadcrumb_row {
        height: 36px;
    }
}

#breadcrumb_row .breadcrumb {
    background-color: #24243A;
    padding-left: 30px;
    height: 100%;
    margin-bottom: 0;
    border-radius: 0;
}

#breadcrumb_row > .breadcrumb > li > a {
    color:#c8d6fb;
}

#breadcrumb_row > .breadcrumb > li > a:hover, #breadcrumb_row > .breadcrumb > li > a:focus {
    color:white;
}

#breadcrumb_row > .breadcrumb > li.active, #breadcrumb_row > .breadcrumb > li.active + li:before {
    color: white;
}

/* Change default bootstrap breadcrumb separator */
.breadcrumb > li + li:before {
    content: "> ";
}

@media (max-width: 767px) { 

    #doc_logo {
        display: inline-block;
    }

    .navbar-header {
        margin-bottom: 10px;
    }

    #doc_logo {
        margin-left: 20px;
        margin-top: 10px;
    }

    #doc_title {
        margin-top: 15px;
    }

    #docs_container {
        padding-top: 0;
    }
}

/* Breakpoint for hamburger navbar */
@media (max-width: 800px) {
    .navbar {
        background-color: #313653;
        position: static;
    }

    #navbar_responsive_button {
        background-color: #313653;
    }

    #breadcrumb_row {
        display: none;
    }

    #background_container {
        padding-top: 0;
    }

    .hidden-xs {
        display: none!important;
    }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {        
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}