<server description="Frontend">

  <featureManager>
    <feature>jaxrs-2.1</feature>
  </featureManager>

  <variable name="default.http.port" defaultValue="9080"/>
  <variable name="default.https.port" defaultValue="9443"/>

  <httpEndpoint
    host="*"
    httpPort="${default.http.port}"
    httpsPort="${default.https.port}"
    id="defaultHttpEndpoint"
  />

  <webApplication location="frontend.war" contextRoot="/"/>
</server>
