<server description="Query Service">

  <featureManager>
    <feature>beanValidation-2.0</feature>
    <feature>jaxrs-2.1</feature>
    <feature>cdi-2.0</feature>
    <feature>concurrent-1.0</feature>
    <feature>jsonb-1.0</feature>
    <feature>mpHealth-2.2</feature>
    <feature>mpConfig-1.4</feature>
    <feature>mpOpenAPI-1.1</feature>
    <feature>mpReactiveMessaging-1.0</feature>
    <feature>mpRestClient-1.4</feature>
  </featureManager>

  <variable name="default.http.port" defaultValue="9080"/>
  <variable name="default.https.port" defaultValue="9443"/>
  
  <httpEndpoint host="*" httpPort="${default.http.port}"
      httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

  <webApplication location="query.war" contextRoot="/"/>
</server>
