<div class="nav-menu-filter" >
    <input type="text" id="filter_titles" aria-label="Filter titles" placeholder="Filter titles...">
    <button
    id="clear_filter"
    type="reset"
    tabindex="0"
    aria-label="Clear filter search"
    >X</button>
</div>