<div class="toolbar" role="navigation">
{{> nav-toggle}}
  {{#if site.homeUrl}}
  <a href="{{relativize site.homeUrl}}" class="home-link{{#if page.home}} is-current{{/if}}"></a>
  {{/if}}
{{> breadcrumbs}}
{{#if (and page.editUrl (not page.origin.private))}}
  {{#unless (eq page.layout 'javadoc') }}
  {{#unless (eq page.layout 'feature') }}
  {{#unless (eq page.layout 'config') }}
  <div class="open-new-issue"><a href="https://github.com/OpenLiberty/docs/issues/new" target="_blank" rel="noopener">Open Issue</a></div>
  <div class="edit-this-page"><a href="{{page.editUrl}}" target="_blank" rel="noopener">Edit this Page</a></div>
  {{/unless}}
  {{/unless}}
  {{/unless}}
{{/if}}
</div>
