<server description="system service">

    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>cdi-4.0</feature>
        <feature>mpConfig-3.0</feature>
        <feature>appSecurity-5.0</feature>
    </featureManager>

    <!-- tag::defaultConfig[] -->
    <!-- tag::port[] -->
    <variable name="default.http.port" defaultValue="9080"/>
    <!-- end::port[] -->
    <variable name="default.https.port" defaultValue="9443"/>
    <!-- tag::username[] -->
    <variable name="default.username" defaultValue="admin"/>
    <!-- end::username[] -->
    <!-- tag::password[] -->
    <variable name="default.password" defaultValue="adminpwd"/>
    <!-- end::password[] -->
    <!-- tag::context.root[] -->
    <variable name="context.root" defaultValue="system"/>
    <!-- end::context.root[] -->
    <!-- end::defaultConfig[] -->

    <!-- tag::httpEndpoint[] -->
    <httpEndpoint id="defaultHttpEndpoint" host="*"
        httpPort="${default.http.port}" 
        httpsPort="${default.https.port}"/>
    <!-- end::httpEndpoint[] -->

    <!-- tag::webApplication[] -->
    <webApplication location="guide-microprofile-config-profile-system.war"
        contextRoot="${context.root}"/>
    <!-- end::webApplication[] -->

 	  <!-- tag::basicRegistry[] -->
    <basicRegistry id="basic" realm="BasicRegistry">
        <user name="${default.username}" password="${default.password}"/>
    </basicRegistry>
    <!-- end::basicRegistry[] -->

</server>