<!-- Digital Behavior Data Management in IBM -->
<script type="text/javascript">
    // Enable scroll tracker in active mode for guide pages only
    if (document.querySelector('#guide_column')) {
        window._ibmAnalytics = {
            scrollTracker: {
                enabled: true,
                mode: "active",
                threshold: 25,
                units: "percent"
            }
        };
    }
</script>
<script type="text/javascript">
    window.digitalData = {
        page: {
            category: {
                primaryCategory: 'IBM_Cloud_GlobalMarketing',
            },
            pageInfo: {
                ibm: {
                    siteID: 'CLOUD',
                }
            },
        }
    };
</script>
<script src="//1.www.s81c.com/common/stats/ida_stats.js" type="text/javascript" async="async"></script>