<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button id="navbar_responsive_button" class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" aria-label="Open Liberty Home Page">
                    <img id="doc_logo" src="{{ " /img/docs_openliberty_logo.png " | relative }}" class="img-responsive" alt="Home" />
                </a>
                <div id="doc_title">Reference</div>
                <!-- <img id="doc_title" src="{{ " /img/reference_header_title.svg " | relative }}" class="img-responsive" alt="Docs"> -->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right text-right">                    
                    <li>
                        <a href="/guides">Guides</a>
                    </li>
                    <li>
                        <a href="/docs/ref/javaee/7"> Java EE 7 API</a>
                    </li>
                    <li>
                        <a href="/docs/ref/microprofile/1.2">MicroProfile 1.2 API</a>
                    </li>
                </ul>
            </div>
            <div id="breadcrumb_row">
                <ol class="breadcrumb fluid-container">
                    <li>
                        <a href="/docs">Docs and Guides</a>
                    </li>
                    <li class="active" tabindex=0> {{ page.title }} </li>
                </ol>
            </div>
        </div>
    </nav>
    <div class="hidden">
        <img src="/img/small_logo_white.svg">
        <img src="/img/github_navbar_hover.svg">
    </div>
</header>