<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <div id="mobile_header">
                    <a href="/" aria-label="Open Liberty Home Page">
                        <img id="mobile_home_logo" src="{{ " /img/docs_openliberty_logo.png " | relative }}" class="img-responsive" alt="Home" />
                    </a> 
                    <span id="mobile_header_title">Docs</span>
                    <img id="mobile_close_button" src="/img/mobileheader_x.svg" alt="Close Navigation Menu" tabindex="0"/>
                    <button id="navbar_responsive_button" class="navbar-toggle collapsed addFocus" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" tabindex="0">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="horizontal_bar"></div>         
            </div>
            <!-- Start of Navbar links -->
            <div id="navbar" class="navbar-collapse collapse">
                <a id="home_logo" href="/" aria-label="Open Liberty Home Page">
                    <img src="{{ " /img/docs_openliberty_logo.png " | relative }}" class="img-responsive" alt="Home" />
                </a>            
                <ul class="nav navbar-nav navbar-left text-right">
                    <li id="doc_header_title">Docs</li>
                    <li>
                        <a href="/guides" class="addFocus">Guides</a>
                        <div class="horizontal_bar"></div>
                    </li>
                    <!-- Single button -->
                    <li id="reference_dropdown_container" class="btn-group dropdown_container">
                        <button type="button" class="btn btn-default dropdown dropdown-toggle reference_dropdown addFocus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reference
                        <div class="mobile_caret"><img src="/img/DownCaretWhite.svg" alt="Open Dropdown"/></div>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/docs/ref/javaee/" class="addFocus">Java EE API</a></li>
                            <li><a href="/docs/ref/microprofile/" class="addFocus">MicroProfile API</a></li>
                            <li><a href="/docs/ref/config/" class="addFocus">Server Config</a></li>
                            <li><a href="/docs/ref/feature/" class="addFocus">Server Features</a></li>
                            <li><a href="/docs/ref/command/" class="addFocus">Server Commands</a></li>
                        </ul>
                        <div class="horizontal_bar"></div>
                    </li>
                </ul>
                <div id="mobile_links_section">
                    <ul>
                        <li><a href="/blog" class="addFocus">Blog</a></li>
                        <li><a href="https://twitter.com/OpenLibertyIO" target="new" aria-label="Twitter" class="addFocus">Twitter</a></li>
                        <li><a href="https://stackoverflow.com/questions/tagged/open-liberty" target="new" aria-label="Open Liberty questions on Stack Overflow" class="addFocus">Stack Overflow</a></li>
                        <li><a href="https://groups.io/g/openliberty" target="new" aria-label="Open Liberty Groups.io" class="addFocus">Groups.io</a></li>
                    </ul>
                    <div id="copyright_section">
                        <p>
                            an IBM open source project <br />
                            &copy; Copyright IBM Corp. 2018
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of Navbar links -->            
            {% include breadcrumb.html %}
        </div>
    </nav>
    <div id="header_background"></div>
    <div class="hidden">
    <img src="/img/small_logo_white.svg">
    <img src="/img/github_navbar_hover.svg">
    </div>
</header>
        