<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button id="navbar_responsive_button" class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" aria-label="Open Liberty Home Page">
                    <img id="doc_logo" src="{{ " /img/docs_openliberty_logo.png " | relative }}" class="img-responsive" alt="Home" />
                </a>
                <div id="doc_title">
                    <img src="{{ "/img/doc_header_title.svg" | relative }}" alt="Docs">
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left"> 
                    <li>
                        <a href="/guides">Guides</a>
                    </li>
                    <!-- Single button -->
                    <li id="reference_dropdown_container" class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle reference_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reference <span id="reference_caret" class="hidden-md hidden-lg"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="/docs/ref/javaee/">Java EE API</a></li>
                                <li><a href="/docs/ref/microprofile/">MicroProfile API</a></li>
                                <li><a href="/docs/ref/config/">Server Config</a></li>
                                <li><a href="/docs/ref/feature/">Server Features</a></li>
                                <li><a href="/docs/ref/command/">Server Commands</a></li>
                                <li><a href="/docs/ref/general/">General</a></li>
                            </ul>
                    </li>
                </ul>
                <div id="header_round_links_container" class="visible-xs">
                    <a id="header_twitter_link" class="header_round_btn" href="https://twitter.com/OpenLibertyIO" target="_blank" aria-label="Twitter"></a>
                    <a id="header_stackoverflow_link" class="header_round_btn" href="https://stackoverflow.com/questions/tagged/open-liberty" target="_blank" aria-label="Open Liberty questions on Stack Overflow"></a>
                    <a id="header_groupsio_link" class="header_round_btn" href="https://groups.io/g/openliberty" target="_blank" aria-label="Open Liberty Groups.io"></a>
                </div>
            </div>
            <!-- Add breadcrumb for all pages except /docs -->
            {% if page.url != '/docs/' %}
            <div id="breadcrumb_row">
                {% if page.layout == 'guide-multipane' or page.layout == 'iguide-multipane' %}
                    <!-- Hamburger icon for showing the table of contents -->
                    <button id="breadcrumb_hamburger" class="toc-toggle collapsed" type="button" data-toggle="collapse" data-target="#toc_column" aria-expanded="false" aria-controls="toc_column">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <img src="{{ " /img/TOC_Close.svg " | relative }}" class="TOC_Close_SVG img-responsive" alt="Table of contents close button"/>
                    </button>                        
                {% endif %}  

                <ol class="breadcrumb fluid-container">   
                    <li>
                        <a href="/docs">Docs</a>
                    </li>

                    <!-- Javadocs -->
                    {% if page.type == 'Javadoc' %}
                        <li>
                            <a class="inactive_link">Reference</a>
                        </li>
                        <li class="active"> {{ page.doc-type }} </li>
                        {% assign versions = site.pages | where: 'doc-type', page.doc-type | sort: 'version' | reverse %}
                        {% if versions | size > 1 %}
                            <span id="breadcrumb_line">|</span>
                            <li id="breadcrumb_version">VERSION:</li>

                            {% for javadoc in versions %}
                            <li class="javadoc_version">
                                {% if page.version == javadoc.version %}
                                    <a class="selected_javadoc__version">{{ javadoc.version }}</a>
                                {% else %}
                                    <a href="{{ javadoc.url }}">{{ javadoc.version }}</a>
                                {% endif %}
                                
                            </li>
                            {% endfor %} 
                        {% endif %}

                    {% elsif page.type == 'config' %}
                        <li>
                            <a class="inactive_link">Reference</a>
                        </li>
                        <li>
                            <a href="/docs/ref/config/">Config</a>
                        </li>

                    {% elsif page.type == 'general' %}
                    <li>
                        <a class="inactive_link">Reference</a>
                    </li>
                    <li>
                        <a href="/docs/ref/general/">General</a>
                    </li>

                    <!-- Intro docs -->
                    {% elsif page.url contains '/docs/intro' %}
                        <li class="active">{{ page.title }}</li>

                    {% elsif page.type == 'feature' %}
                        <li>
                            <a class="inactive_link">Reference</a>
                        </li>
                        <li>
                            <a href="/docs/ref/feature/">Features</a>
                        </li>

                    {% elsif page.type == 'command' %}
                        <li>
                            <a class="inactive_link">Reference</a>
                        </li>
                        <li>
                            <a href="/docs/ref/command/">Commands</a>
                        </li>
                    <!-- All Guides page -->
                    {% elsif page.url == '/guides/' %}
                        <li class="active">Guides</li>
                    
                    <!-- Individual Guides -->
                    {% else %}
                        <li> 
                            <a href="/guides">Guides</a>
                        </li>
                        <li class="active">{{ page.title }}</li>
                    {% endif %}
                </ol>
            </div> 
            {% if page.type == 'config' or page.type == 'feature' or page.type == 'command' %}
                <div class="breadcrumb_hamburger_nav" role="button" data-toggle="collapse" data-target="#toc_column" aria-expanded="true" aria-controls="toc_column">
                    <!-- Hamburger icon for showing the table of contents -->
                    <button id="breadcrumb_hamburger" class="collapsed" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span id="breadcrumb_hamburger_title">Table of Content</span>
                </div>
            {% endif %}  
        {% endif %}      
        </div>
    </nav>
    <!-- Docs -->
    <div id="header_background"></div>
    <div class="hidden">
        <img src="/img/small_logo_white.svg">
        <img src="/img/github_navbar_hover.svg">
    </div>
</header>