<div id="end_of_guide">
        <h2>Nice work! You did it!</h2>
        <div id="end_of_guide_left_section">
            <h3 id="improve_guide_feedback">What could make this guide better?</h3>
            <p><a href="https://github.com/OpenLiberty/guide-{{page.url | replace: '/guides/', ''}}/issues">Raise an issue</a> to share feedback</p>
            <p><a href="https://github.com/OpenLiberty/guide-{{page.url | replace: '/guides/', ''}}/pulls">Create a pull request</a> to contribute to this guide</p>
    
            <h3 id="need_help">Need help?</h3>
            <a href="https://stackoverflow.com/questions/tagged/open-liberty">Ask a question on Stack Overflow</a>
    
            <h3 id="feedback_rating_question">What did you think of this guide?</h3>
            <div id="feedback_ratings">
                <img src="/img/1_Extreme_Dislike.png" alt="Extreme Dislike" data-guide-rating="1">
                <img src="/img/2_Dislike.png" alt="Dislike" data-guide-rating="2">
                <img src="/img/3_Like.png" alt="Like" data-guide-rating="3">
                <img src="/img/4_Extreme_Like.png" alt="Extreme Like" data-guide-rating="4">
            </div>
            
        </div>
        <div id="end_of_guide_right_section">
            <h3>Where to next?</h3>
            <p>Keep exploring <b>MicroProfile</b> with these guides.</p>
        </div>
    </div>