<footer>
  <div id="footer_container" class="container">
      <div class="row">
          <div class="col-xs-12">
              <div id="footer_links_container">
                  <a id="footer_license_link" href="https://github.com/OpenLiberty/open-liberty/blob/master/LICENSE" target="new" class="footer_link left_footer_link">License</a>
                  <a id="footer_privacy_policy_link" href="https://www.ibm.com/privacy/" target="new" class="footer_link left_footer_link">Privacy policy</a>
                  <a id="footer_github_link" href="https://github.com/OpenLiberty" target="new" aria-label="GitHub" class="footer_link right_footer_link">GitHub</a>
                  <a id="footer_groupsio_link" href="https://groups.io/g/openliberty" target="new" aria-label="Open Liberty Groups.io" class="footer_link right_footer_link">Groups.io</a>                  
                  <a id="footer_stackoverflow_link" href="https://stackoverflow.com/questions/tagged/open-liberty" target="new" aria-label="Open Liberty questions on Stack Overflow" class="footer_link right_footer_link">Stack Overflow</a>
                  <a id="footer_twitter_link" href="https://twitter.com/OpenLibertyIO" target="new" aria-label="Twitter" class="footer_link right_footer_link">Twitter</a>       
                  <a id="footer_support_link" href="https://www.ibm.com/marketplace/elite-support-for-open-liberty" target="new" aria-label="Support" class="footer_link right_footer_link">Support</a>           
              </div>
              <p id="footer_text">an IBM open source project</p>
              <p id="footer_copyright">&copy; Copyright IBM Corp. 2017, 2018</p>
          </div>
      </div>
  </div>
</footer>
