<footer>
  <div id="footer_container" class="container">
      <div class="row">
          <div class="col-xs-12 text-right">
              <div id="footer_links_container">
                  <a href="https://github.com/OpenLiberty/open-liberty/blob/master/LICENSE" target="new" class="footer_link">License</a>
                  <a href="https://www.ibm.com/privacy/us/en" target="new" class="footer_link">Privacy policy</a>
                  <a id="footer_twitter_link" href="https://twitter.com/OpenLibertyAS" target="new"></a>
                  <a id="footer_github_link" href="https://github.com/OpenLiberty" target="new"></a>
              </div>
              <p id="footer_text">an IBM open source project</p>
              <p id="footer_copyright">&copy; Copyright IBM Corp. 2017</p>
          </div>
      </div>
  </div>
</footer>
