
{% assign baseURL = '' %}
{% if site.lang != 'en' %}
    {% assign baseURL = '/' | append: site.lang %}
{% endif %}

<footer>
    <div id="footer_gray_background">
        <div id="footer_top_container" class="footer_container container-fluid">
            <div id="footer_project_container">
                <span id="footer_open_liberty"></span>
                <p id="footer_project">{% t footer.ol_logo_subtitile %}</p>
            </div>
            <div id="footer_round_links_container">
                <a id="footer_github_link" class="footer_round_btn" href="https://github.com/OpenLiberty/" target="_blank" rel="noopener" aria-label="Github"></a>
                <a id="footer_twitter_link" class="footer_round_btn" href="https://twitter.com/OpenLibertyIO" target="_blank" rel="noopener" aria-label="Twitter"></a>
                <a id="footer_stackoverflow_link" class="footer_round_btn" href="https://stackoverflow.com/questions/tagged/open-liberty" target="_blank" rel="noopener" aria-label="Open Liberty questions on Stack Overflow"></a>
                <a id="footer_groupsio_link" class="footer_round_btn" href="https://groups.io/g/openliberty" target="_blank" rel="noopener" aria-label="Open Liberty Groups.io"></a>
                <a id="footer_gitter_link" class="footer_round_btn" href="https://gitter.im/OpenLiberty/" target="_blank" rel="noopener" aria-label="Open Liberty Gitter"></a>
            </div>
        </div>         
    </div>

    <div id="footer_bottom_container" class="footer_container container-fluid">
        <div id="footer_bottom_left_section">
            <p id="footer_copyright">&copy; {% t footer.copyright %}</p>
            <p class="vertical_bar">|</p>
            <a id="footer_privacy_policy_link" href="https://www.ibm.com/privacy/" target="_blank" rel="noopener" class="left_footer_link">{% t footer.privacy_policy %}</a>
            <p class="vertical_bar">|</p>
            <a id="footer_license_link" href="https://github.com/OpenLiberty/open-liberty/blob/release/LICENSE" target="_blank" rel="noopener" class="left_footer_link">{% t footer.license %}</a>
            <p class="vertical_bar">|</p>
            <a id="footer_logos_link" href="https://github.com/OpenLiberty/logos" target="_blank" rel="noopener" class="left_footer_link">{% t footer.logos %}</a>
        </div>
        <div id="footer_bottom_right_section">
            <a id="footer_docs_link" href="/docs" aria-label="Open Liberty Docs" class="right_footer_link blue_link_light_background">{% t pages.docs %}</a>
            <a id="footer_blog_link" href="/blog" aria-label="Open Liberty Blog" class="right_footer_link blue_link_light_background">{% t pages.blog %}</a>
            <a id="footer_support_link" href="/support" aria-label="Open Liberty Support" class="right_footer_link blue_link_light_background">{% t pages.support %}</a>
        </div>
    </div>
</footer>

<!-- PRE-LOADED IMAGES FOR ON HOVER BEHAVIOR -->
<div class="d-none hidden">
    <img src="/img/Footer_GitCat_Hover.svg" alt="OpenLiberty Github link">
    <img src="/img/Footer_TwitterBird_Hover.svg" alt="OpenLibertyIO Twitter link">
    <img src="/img/Footer_StackO_Hover.svg" alt="Open-liberty Stack Overflow link">
    <img src="/img/Footer_GroupsIO_Hover.svg" alt="Openliberty Groups IO link">
    <img src="/img/footer_gitter_hover.svg" alt="Openliberty Gitter link">
</div>