
{% assign baseURL = '' %}
{% assign homeURL = '/' %}
<!-- {% if site.lang != 'en' %}
    {% assign baseURL = '/' | append: site.lang %}
    {% assign homeURL = baseURL %}
{% endif %} -->

<header>
    <nav id="nav_bar">
        <div id="nav_header">
            <a id="home_link" href="/" aria-label="Open Liberty Home">
                <img id="ol_logo" src="/img/docs_openliberty_logo.png" alt="Open Liberty Logo">
            </a>
            <button id="hamburger_toggle_button" onclick="$('#nav_bar').toggleClass('responsive');">
                <span id="hamburger_toggle_icon"></span>
            </button>
        </div>
        <div id="hamburger_menu">
            <ul class="nav_list">
                <li class="nav_link">
                    <a href="/start/">{% t pages.start %}</a>
                </li>
                <li class="nav_link">
                    <a href="/guides/">{% t pages.guides %}</a>
                </li>
                <li class="nav_link">
                    <a href="/docs/">{% t pages.docs %}</a>
                </li>
                <li class="nav_link">
                    <a href="/support/">{% t pages.support %}</a>
                </li>
                <li class="nav_link">
                    <a href="/blog/">{% t pages.blog %}</a>
                </li>
            </ul>
            <div id="header_round_links_container"> 
                <a id="header_twitter_link" class="header_round_button" href="https://twitter.com/OpenLibertyIO" target="_blank" rel="noopener noreferrer" aria-label="Twitter"></a>
                <a id="header_stackoverflow_link" class="header_round_button" href="https://stackoverflow.com/questions/tagged/open-liberty" target="_blank" rel="noopener noreferrer" aria-label="Open Liberty questions on Stack Overflow"></a>
                <a id="header_groupsio_link" class="header_round_button" href="https://groups.io/g/openliberty" target="_blank" rel="noopener noreferrer" aria-label="Open Liberty Groups.io"></a>
                <a id="header_gitter_link" class="header_round_button" href="https://gitter.im/OpenLiberty/" target="_blank" rel="noopener noreferrer" aria-label="Open Liberty Gitter"></a>
            </div>
        </div>

    </nav>
</header>
