<header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/img/OL_logo.svg">
            <p id="ol_nav_title" class="d-lg-none d-xl-none">Open Liberty</p>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="close_button">x</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link blue_link_light_background" href="/docs">Docs <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link blue_link_light_background" href="/downloads">Downloads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link blue_link_light_background" href="/support">Support</a>
                </li>

            </ul>
            <div id="float_right_section">
                <a id="fork_button" class="nav-link dark_green_link_light_background" href="https://github.com/OpenLiberty/open-liberty" target="_blank">Fork the code</a>
                <form id="search_form" class="form-inline my-2 my-lg-0">
                    <input id="nav_search_input" class="form-control mr-sm-2" type="search">
                </form>
            </div>
            <div id="header_round_links_container" class="d-lg-none d-xl-none">
                <a id="header_twitter_link" class="header_round_btn" href="https://twitter.com/OpenLibertyIO" target="_blank" aria-label="Twitter"></a>
                <a id="header_stackoverflow_link" class="header_round_btn" href="https://stackoverflow.com/questions/tagged/open-liberty" target="_blank" aria-label="Open Liberty questions on Stack Overflow"></a>
                <a id="header_groupsio_link" class="header_round_btn" href="https://groups.io/g/openliberty" target="_blank" aria-label="Open Liberty Groups.io"></a>
            </div>
        </div>
</nav>

</header>
