<div class="hidden">
    <img src="/img/arrow_darkgreen.svg">
    <img src="/img/arrow_yellowgreen.svg">
    <img src="/img/about_download_arrow_only_hover.svg">
    <img src="/img/about_download_line_hover.svg">
    <img src="/img/footer_twitter_darker.png">
    <img src="/img/footer_github_darker.png">
    <img src="/img/small_logo_white.svg">
    <img src="/img/up_arrow_yellow.svg">
    <img src="/img/down_arrow_yellow.svg">
    <img src="/img/download_arrow_only_eclipse_hover.svg">
    <img src="/img/download_line_eclipse_hover.svg">
    <img src="/img/downloads_arrow_up.svg">
</div>
