<!-- HTML structure for any overview documentation -->
<div id="overview_content">
    <div id="overview_title">
        {{ page.title }}
        {% if page.title == "Server commands overview" %}
            <p id="github_link">
                <img id="docs_github_logo" src="/img/docs_github_logo.svg" alt="GitHub logo">
                Contribute on GitHub:
                <a id="open_issue_link" href="" target="_blank">Open Issue</a>
                |
                <a id="edit_topic_link" href="" target="_blank">Edit Topic</a>
            </p>
        {% endif %}
    </div>
    {{ content }}
</div>