<server description="system service">

    <featureManager>
        <feature>restfulWS-3.1</feature>
        <feature>jsonb-3.0</feature>
        <feature>jsonp-2.1</feature>
        <feature>cdi-4.0</feature>
        <feature>mpConfig-3.0</feature>
        <feature>appSecurity-5.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>
    <variable name="default.username" defaultValue="admin"/>
    <variable name="default.password" defaultValue="adminpwd"/>
    <variable name="context.root" defaultValue="system"/>

    <httpEndpoint id="defaultHttpEndpoint" host="*"
        httpPort="${default.http.port}" 
        httpsPort="${default.https.port}"/>

    <webApplication location="guide-microprofile-config-profile-system.war"
        contextRoot="${context.root}"/>

    <basicRegistry id="basic" realm="BasicRegistry">
        <user name="${default.username}" password="${default.password}"/>
    </basicRegistry>

</server>