<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="system service">

    <featureManager>
        <feature>restfulWS-3.1</feature>
    </featureManager>

    <applicationManager autoExpand="true"/>

    <webApplication contextRoot="/" location="guide-grpc-intro-system.war"/>

    <logging consoleLogLevel="INFO"/>
</server>