<?xml version="1.0" encoding="UTF-8"?>
<server description="inventory">

    <!-- Enable features -->
  <featureManager>
    <feature>appSecurity-5.0</feature>
    <feature>restfulWS-3.1</feature>
    <feature>mpJwt-2.1</feature>
  </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9081"
                  httpsPort="9444" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>
    
    <keyStore id="defaultKeyStore" password="secret" />
    
    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="/system" location="system.war"/>

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
</server>
