<server description="Sample Liberty server">
    <featureManager>
        <feature>mpConfig-3.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>
    <variable name="app.context.root" defaultValue="/mongo"/>

    <httpEndpoint
        host="*" 
        httpPort="${default.http.port}" 
        httpsPort="${default.https.port}" 
        id="defaultHttpEndpoint"
    />

    <webApplication 
        location="guide-mongodb-intro.war" 
        contextRoot="${app.context.root}"
    />
</server>
