<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
    <application context-root="/"
        location="guide-spring-boot-mvc.war"></application>

    <featureManager>
        <feature>servlet-4.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080"
        httpsPort="9443" />

    <applicationManager autoExpand="true" />

    <webContainer deferServletLoad="false"/>

</server>
