---
layout: doc
css: 
- doc-header
- toc-multipane
- end-of-guide
- guide-card
- guide-multipane
js:
- common-multipane
- toc-multipane
- guide-multipane
---

<div id="background_container">
        <div class="row">
            <!-- Guide's table of contents section -->            
            <div id="toc_column" class="collapse inline">
                <div id="toc_inner">
                    {% assign toc = page.document | tocify_asciidoc %}
                    {% if toc %}
                    <div id="close_container">
                        <img src="{{ " /img/TOC_Close.svg " | relative }}" alt="Table of contents close button"/>
                    </div>
                    <div id="mobile_close_container" data-toggle="collapse" data-target="#toc_column" aria-expanded="false" aria-controls="toc_column">
                        <img src="{{ " /img/TOC_Close.svg " | relative }}" alt="Table of contents close button"/>
                    </div>
                    <h3 id="toc_title">Contents</h3>
                    <div id="toc_container">
                        {{ toc }}
                    </div>
                    <div id="toc_separator"></div>
                    {% endif %}
                    {% if page.tags %}
                        <h3 id="tag_title">Tags</h3>
                        <div id="tags_container">
                            {% for tag in page.tags %}
                                <a href="/guides?search={{ tag }}&key=tag">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>                
            </div>
            <!-- Entire guide section -->
            <div id="guide_column" class="position_relative">
                <div id="guide_content">
                    <!-- Guide header section -->
                    <div id="guide_meta" class="sect1">
                        <h1 id="guide_title">{{ page.title }}</h1>
                        <div id="duration_container">
                            <img src="/img/guide_duration_clock_icon_large.svg" alt="duration">
                            <span id="guide_duration">{{ page.duration }}</span>
                        </div>
                        <div id="mobile_github_section">
                            <div id="mobile_github_clone_popup_title"><span class="dark_green_link_light_background">Git clone</span><span style="font-weight: 600; font-family: BunueloBold"> to get going right away:</span></div>
                            <div id="mobile_github_clone_popup_repo">
                                <span>git clone https://github.com/OpenLiberty/guide-{{page.url | replace: '/guides/', ''}}.git</span>   
                                <div id="mobile_github_clone_popup_copy">
                                    <img src="/img/guide_copy_button_black.svg" alt="Copy github clone command">
                                </div>
                            </div>                            
                        </div>
                    </div>

                    <div class="scroller_anchor"></div>
                    <div id="mobile_toc_accordion_container" data-toggle="collapse" data-target="#toc_column" aria-expanded="false" aria-controls="toc_column">
                        <div id="mobile_toc_accordion">
                            <button class="breadcrumb_hamburger toc-toggle collapsed" type="button">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <img src="{{ " /img/TOC_Close.svg " | relative }}" class="TOC_Close_SVG img-responsive" alt="Table of contents close button"/>
                            </button>
                            <span>Table of contents</span>
                        </div>                
                    </div>

                    <!-- Guide content section -->
                    {{ content }}

                    <div id="down_arrow">
                        <img src="/img/guide_down_arrow.svg" alt="scroll_down">
                    </div>                    
                </div>
                <div id="copied_to_clipboard_confirmation" style="display: none;">Copied to clipboard</div>
                <a id="copy_to_clipboard" href="" style="display: none;"></a>
            </div>

            <!-- Code section -->
            <div id="code_column" class="position_relative">
                <div id="github_clone_popup_container" style="display: none">
                    <div id="github_clone_popup">
                        <div id="github_clone_popup_title">Git clone this repo to get going right away:</div>
                        <div id="github_clone_popup_repo">
                                git clone https://github.com/OpenLiberty/guide-{{page.url | replace: '/guides/', ''}}.git
                        </div>
                        <div id="github_clone_popup_copy">
                            <img src="/img/guide_copy_button_black.svg" alt="Copy github clone command">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>        
</div>

{% include end-of-guide.html %}
