---
layout: doc
css: 
- doc-header
- table-of-contents
- end-of-guide
- guide-card
- guide-multipane
- iguide
js: 
- common-multipane
- toc-multipane
---

<div id="background_container" class="black_blue_gradient_background">
        <div class="row">
            <!-- Guide's table of contents section -->
            <div id="toc_column" class="collapse inline">
                <div id="toc_inner">
                    <div id="close_container">
                        <img src="{{ " /img/TOC_Close.svg " | relative }}" alt="Table of contents close button"/>
                    </div>
                    <h3 id="toc_title">Contents</h3>
                    <div id="toc_container">
                        <ul class="sectlevel1"></ul>
                    </div>
                    <div id="toc_separator"></div>
                    {% if page.tags %}
                        <h3 id="tag_title">Tags</h3>
                        <div id="tags_container">
                            {% for tag in page.tags %}
                                <a href="/guides?search={{ tag }}&key=tag">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Entire guide section -->
            <div id="guide_column" class="position_relative">
                <div id="guide_content">
                    <!-- Guide header section -->
                    <div id="guide_meta" class="sect1">
                        <h1 id="guide_title">{{ page.title }}</h1>
                        <div id="duration_container">
                            <img src="/img/guide_duration_clock_icon_large.svg" alt="duration">
                            <span id="guide_duration">{{ page.duration }}</span>
                            <div class="guide_interactive_container">
                                <img class="interactive_bolt_icon" src="/img/guide_lightning_bolt.svg" alt="Interactive">
                                <span class="guide_interactive">Interactive</span>
                            </div>
                        </div>
                        <p>{{ page.description }}</p>
                    </div>

                    <!-- Guide content section -->
                    {{ content }}

                    <div id="down_arrow">
                        <img src="/img/guide_down_arrow.svg" alt="scroll_down">
                    </div>
                </div>
            </div>

            <!-- Code section -->
            <div id="code_column" class="position_relative">
            </div>
        </div>
</div>

{% include end-of-guide.html %}