---
layout: default
css:
- guide-card
- iguide
---

<div id="background_container" class="black_blue_gradient_background">
    <div class="container">
        <div id="title_row" class="row">
            <div class="col-xs-12">
                <img id="intro_logo" src="{{ "/img/guides_page_title_small.svg" | relative }}" alt="Guides">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a id="all_guides_link" href="/guides">All Guides</a>
                <h3 id="toc_guide_title">{{ page.title }}</h3>
                <h3 id="toc_title">Contents</h3>
                <div id="toc_container">
                </div>
                {% if page.tags %}
                <h3 id="tag_title">Tags</h3>
                <div id="tags_container">
                    {% for tag in page.tags %}
                        <a href="/guides?search={{ tag }}&key=tag">{{ tag }}</a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div id="guide_column" class="col-sm-9">
                <div id="guide_content">
                    <div id="first_step_header">
                        <h1 id="guide_title">{{ page.title }}</h1>
                        <div id="duration_container">
                            <img src="/img/guide_duration_clock_icon_large.svg" alt="duration">
                            <span id="guide_duration">{{ page.duration }}</span>
                        </div>
                        <p>{{ page.description }}</p>
                    </div>
                    <div id="blueprint_title" aria-label="">{{ page.title }}</div>

                    {{ content }}

                    <!-- Related guides section -->
                    {% if page.related-guides %}
                    <div id="related-guides" class="row hidden">
                        {% for related-guide in page.related-guides %}
                            {% assign url = '/guides/' | append: related-guide %}
                            <!-- permalink are unique, should always find 1 or no match -->
                            {% assign list = site.pages | where: 'permalink', url %}
                            {% assign related-guide-metadata = list[0] %}
                            <div class="col-sm-12 col-lg-6">
                                <a href="/guides/{{related-guide}}.html" class="guide_item">
                                    <div class="guide_title_and_description_container">
                                        <h3 class="guide_title">{{related-guide-metadata.title}}</h3>
                                        <p class="guide_description" title="{{related-guide-metadata.description}}">{{related-guide-metadata.description}}</p>
                                    </div>
                                    <img class="duration_clock_icon" src="/img/guide_duration_clock_icon_small.svg" alt="Duration">
                                    <span class="guide_duration">{{related-guide-metadata.duration}}</span>
                                    {% if related-guide-metadata.layout == 'interactive-guide' %}
                                    <img class="interactive_bolt_icon" src="/img/guide_lightning_bolt.svg" alt="Interactive">
                                    <span class="guide_interactive">Interactive</span>
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="col-xs-12" id="page_nav_buttons" role="group">
                    <button id="prev_button" class="btn navButton">
                    </button>
                    <button id="next_button" class="btn navButton">
                    </button>
                </div>    
            </div>
        </div>
    </div>
</div>