---
layout: doc
css: 
- guide
- intro
- doc-header
js: guide
---
<section class="banner">
    <!-- Guide header section -->
    <div id="guide_meta" class="sect1">
        <h1 id="guide_title">{{ page.title }}</h1>
        <div id="duration_container"></div>
    </div>
</section>
<div id="background_container" class="gray_background">
    <div class="centered_column">
        <div class="row">
            <!-- Entire guide section -->
            <div id="guide_column" class="col-sm-12 position_relative">
                <div id="guide_content">
                    <!-- Guide content section -->
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>
