---
layout: doc
css: 
- guide-card
- guide
- doc-header
js: guide
---

<div id="background_container" class="black_blue_gradient_background">
    <div class="container">
        <div class="row">
            <!-- Guide's table of contents section -->
            <div id="toc_column" class="col-sm-3">
                <div id="toc_inner">
                    {% assign toc = page.document | tocify_asciidoc %}
                    {% if toc %}
                    <h3 id="toc_title">Contents</h3>
                    <div id="toc_container">
                        {{ toc }}
                    </div>
                    {% endif %}
                    {% if page.tags %}
                        <h3 id="tag_title">Tags</h3>
                        <div id="tags_container">
                            {% for tag in page.tags %}
                                <a href="/guides?search={{ tag }}&key=tag">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Entire guide section -->
            <div id="guide_column" class="col-sm-9 position_relative">
                <div id="guide_content">
                    <!-- Guide header section -->
                    <div id="guide_meta" class="sect1">
                        <h1 id="guide_title">{{ page.title }}</h1>
                        <div id="duration_container">
                            <img src="/img/guide_duration_clock_icon_large.svg" alt="duration">
                            <span id="guide_duration">{{ page.duration }}</span>
                        </div>
                    </div>

                    <!-- Guide content section -->
                    {{ content }}
                </div>
                <div id="copied_to_clipboard_confirmation" style="display: none;">Copied to clipboard</div>
                <a id="copy_to_clipboard" href="" style="display: none;"></a>
            </div>
        </div>
    </div>
</div>
