---
layout: doc
css: 
- intro
- header
js: intro
---
<section class="banner" aria-labelledby="intro_title">
    <!-- Guide header section -->
    <div id="intro_meta" class="sect1">
        <h1 id="intro_title">{{ page.title }}</h1>
        <div id="duration_container"></div>
    </div>
</section>
<div id="background_container">
    <div class="centered_column">
        <div class="row">
            <!-- Entire guide section -->
            <div id="intro_column" class="col-sm-12 position_relative">
                <div id="intro_content">
                    <!-- Guide content section -->
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</div>
