---
layout: default
css: 
- header
- post
js: post
---

{% assign baseURL = '' %}
{% if site.lang != 'en' %}
    {% assign baseURL = '/' | append: site.lang %}
{% endif %}

<div id="article_container" class="container-fluid">
    <article class="post" aria-label="article">
        <header id="post_header">
            <div class="container">
                <a id="blog_link" href="{{baseURL}}/blog"><img class="arrow" src="/img/post_arrow.svg" alt="back to all blogs">{% t blog.see_all_blog_posts %}</a>
                <div class="share_post_container">
                    {% assign page_title = page.title | replace: "'" , "\\\\'" %}
                    <a class="twitter_link" href="https://twitter.com/intent" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent('{{ page_title }}') + '&url=' + encodeURIComponent(window.location)); return false" aria-label="Twitter link"></a>
                    <a class="reddit_link" href="https://www.reddit.com/submit" onclick="window.open('https://www.reddit.com/submit?url=' + encodeURIComponent(window.location)); return false" aria-label="Reddit link"></a>
                </div>
                <h1 id="post_title">{{ page.title | escape }}</h1>
                <div id="post_information_container">
                    {% assign additional_author_count = 0 %}
                    {% for author in page.additional_authors %}
                        {% assign additional_author_count = additional_author_count | plus: 1 %}
                    {% endfor %}
                    {% assign current = 1 %}
                    <div class="author_images_container">
                        <img src="{{ page.author_picture }}" class="author_image" alt="image of author">
                        {% for author in page.additional_authors %}
                            <img src="{{ author.image }}" class="author_image" alt="image of author">
                        {% endfor %}
                    </div>
                    <a class="author_name" href="{{ page.author_github }}" target="_blank" rel="noopener">{{ page.author }}</a>
                    {% for author in page.additional_authors %}
                        {% if additional_author_count == 1 %}
                            <span>{% t global.and %}</span>
                        {% elsif additional_author_count > 1 %}
                            {% if current < additional_author_count %}
                                <span class="comma">,</span>
                            {% elsif current == additional_author_count %}
                                <span class="comma">, {% t global.and %}</span>
                            {% endif %}
                        {% endif %}
                        {% assign current = current | plus: 1 %}
                        <a class="author_name" href="{{ author.github }}" target="_blank" rel="noopener">{{ author.name }} </a>
                    {% endfor %}
                    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                    <span id="post_date">on {{ page.date | date: date_format }}</span>
                </div>
                <div class="post_tags_container"></div>
                <div class="language_container">
                    <span class="lang_text">{% t blog.post_in_other_lang %}:</span>
                    {% for i18n in page.blog-available-in-languages %}
                        {% if i18n.path contains 'https://openliberty.io' %}
                            {% assign link_color = 'blue_link_light_background' %}
                        {% elsif i18n.path contains 'https://' %}
                            {% assign link_color = 'orange_link_light_background' %}
                        {% else %}
                            {% assign link_color = 'blue_link_light_background' %}
                        {% endif %}
                        <a class="blog_lang {{link_color}}" href="{{i18n.path}}">{% t langs.{{i18n.lang}} %}</a>
                        <span class="comma">, </span>
                    {% endfor %}
                </div>
            </div>
        </header>
        <div id="article_body" class="container">
            {{ content }}
            <div class="share_post_container">
                {% assign page_title = page.title | replace: "'" , "\\\\'" %}
                <a class="twitter_link" href="https://twitter.com/intent" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent('{{ page_title }}') + '&url=' + encodeURIComponent(window.location)); return false" aria-label="Twitter link"></a>
                <a class="reddit_link" href="https://www.reddit.com/submit" onclick="window.open('https://www.reddit.com/submit?url=' + encodeURIComponent(window.location)); return false" aria-label="Reddit link"></a>
            </div>
            <div id="blog_link_container">
                <a id="blog_link_bottom" href="{{baseURL}}/blog"><img class="arrow" src="/img/post_arrow.svg" alt="back to all blogs">{% t blog.see_all_blog_posts %}</a>
            </div>
        </div>
        <div class="tags_container_bottom">	
            <div class="container">	
                <p id="tags">{% t guides.tags %}</p>	
                <div class="post_tags_container"></div>	
            </div>	
        </div>
    </article>
</div>

<div class="d-none">
    <img src="/img/twitter_link_hover.svg">
    <img src="/img/reddit_link_hover.svg">
</div>