---
layout: default
css: post
---

<div id="background_container" class="black_blue_gradient_background">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img id="intro_logo" src="{{ "/img/blog_title_small.svg" | relative }}">
            </div>
            <div id="post_column" class="col-xs-12">
                <div id="article_container">
                    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                        <header>                        
                            <div class="post_information_container">
                                <img src="{{ page.author_picture }}" id="author_image">
                                <div id="post_information">
                                    <div id="author_name">{{ page.author }}</div>
                                    <div id="post_date">
                                        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                                            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %} {{ page.date | date: date_format }}
                                        </time>
                                    </div>
                                </div>
                            </div>
                            <h1 itemprop="name headline">{{ page.title | escape }}</h1>
                        </header>
                        <div itemprop="articleBody">
                            {{ content }}
                        </div>
                        <div id="share_post_container">
                            Share this post:
                            <a id="twitter_link" href="//twitter.com/intent" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent('{{page.title}}') + '&url=' + encodeURIComponent(window.location)); return false"></a>
                            <a id="reddit_link" href="//www.reddit.com/submit" onclick="window.open('//www.reddit.com/submit?url=' + encodeURIComponent(window.location)); return false"></a>
                        </div>
                        {% if site.disqus.shortname %} {% include disqus_comments.html %} {% endif %}
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

