<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article">
  {{#if site.keys.googleAnalytics}}
    {{> google_tag_manager_body }}
  {{/if}}
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>
