
/**
* Terminal container.
*/
.cmdpromptContainer {   
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.terminal {
    position: relative;
    height: 300px;
    overflow-y: auto;
    margin: 0;
    padding: 5px;   
    list-style: none;
    background: #141414;
    color: #45D40C;
    font: 0.8em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;

    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/**
* The input span where the input happens.
* Also applied to the previous inputs made in the current session.
*/
.terminal .input {
    min-width: 1em;
    height: 1em;
    display:inline-block;
    border: none;
    outline-color: transparent;
}

.terminal p {
    margin:     0;
    padding:    0;   
}