<server description="Sample Liberty server">

  <featureManager>
    <feature>restfulWS-3.1</feature>
    <feature>jsonp-2.1</feature>
    <feature>jsonb-3.0</feature>
    <feature>cdi-4.0</feature>
    <feature>mpConfig-3.0</feature>
   <feature>mpMetrics-5.0</feature>
   <feature>mpRestClient-3.0</feature>
 </featureManager>

  <variable name="default.http.port" defaultValue="9080"/>
  <variable name="default.https.port" defaultValue="9443"/>

  <applicationManager autoExpand="true" />
  <!-- tag::quickStartSecurity[] -->
  <quickStartSecurity userName="admin" userPassword="adminpwd"/>
  <!-- end::quickStartSecurity[] -->
  <httpEndpoint host="*" httpPort="${default.http.port}"
      httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>
  <webApplication location="guide-microprofile-metrics.war" contextRoot="/"/>
</server>
