/* BLOG */

#background_container {
    background-size: 100% 79%;
    background-repeat: no-repeat;
}

#blog_container {
    padding-top: 333px;
}

#blog_row_1 {
    margin-bottom: 150px;
}


#blog_row_2 {
    margin-bottom: 42px;
}

#blog_line {
    height: 1px;
    background-color: #5E6B8D;
    margin-bottom: 10px;
}

#tags_label {
    color: #8194C7;
    margin-right: 10px;
}

#blog_container .tag_link {
    margin-right: 20px;
    color: #8194C7 !important;
    cursor: not-allowed;
    pointer-events: none;
}

#blog_row_3 {
    background-color: white;
    -webkit-box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    margin-bottom: 70px;
    color: #24253A;
}

#blog_search_link {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #8194C7 !important;
    cursor: not-allowed;
    pointer-events: none;
    padding-right: 24px;
    background-image: url('/img/blog_magnify.svg');
    background-repeat: no-repeat;
    background-position: right top 2px;
}

#blog_content {
    margin-top: 93px;
    height: 354px;
}

#blog_text {
    display: inline-block;
    margin-left: 40px;
}

#no_posts_title {
    margin-bottom: 16px;
}

@media (max-width: 767px) {

    #blog_container {
        padding-top: 60px;
    }

    #blog_row_1 {
        margin-bottom: 40px;
    }
    
    #blog_title {
        margin-bottom: 40px;
    }

    #intro_logo {
        margin-bottom: 40px;
    }

    #blog_row_3 {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-bottom: 40px;
    }

    #tags_label {
        display: inline-block;
        padding-bottom: 10px;
    }

    .tag_link {
        display: block;
    }
    
}
