#background_container {
    padding-top: 100px;
}

#intro_logo {
    margin-left: 5px;
    margin-bottom: 70px;
}

#article_container {
    background-color: white;
    color: #24253a;
    padding-top: 55px;
    padding-bottom: 82px;
    padding-left: 111px;
    padding-right: 111px;
    -webkit-box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
}

