/* BLOG */

#background_container {
    background-size: 100% calc(100% - 200px);
    background-repeat: no-repeat;
}

#blog_container {
    padding-top: 333px;
}

#blog_row_1 {
    margin-bottom: 150px;
}


#blog_row_2 {
    margin-bottom: 42px;
}

#blog_line {
    height: 1px;
    background-color: #5E6B8D;
    margin-bottom: 10px;
}

#tags_label {
    color: #8194C7;
    margin-right: 10px;
}

#blog_container .tag_link {
    margin-right: 20px;
    color: #8194C7 !important;
    cursor: not-allowed;
    pointer-events: none;
}

#blog_search_link {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #8194C7 !important;
    cursor: not-allowed;
    pointer-events: none;
    padding-right: 24px;
    background-image: url('/img/blog_magnify.svg');
    background-repeat: no-repeat;
    background-position: right top 2px;
}

.blog_post_row {
    background-color: white;
    -webkit-box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    margin-bottom: 70px;
    color: #24253A;
}

.blog_post_column {
    padding: 0;
}

.blog_post_container {
    display: flex;
}

.blog_post_content_image_container {
    background-color: #eeeff3;
    width: 280px;
    flex-shrink: 0;
    position: relative;
}

.blog_post_image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}

.blog_post_content {
    width: 100%;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 106px;
    padding-bottom: 100px;
}

.blog_post_title {
    margin-bottom: 23px;
}

.blog_post_author_image {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    vertical-align: middle;
}

.blog_post_author_data_container {
    margin-bottom: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blog_post_author_name {
    font-size: 16px;
    margin-left: 17px;
}

.blog_post_date {
    margin-left: 10px;
    color: #6f7878;
}

.blog_post_paragraph {
    text-align: justify;
    min-height: 130px;
    overflow: hidden;
}

@media (max-width: 991px) {

    .blog_post_content {
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 50px;
    }

}

@media (max-width: 767px) {

    #blog_container {
        padding-top: 60px;
    }

    #blog_row_1 {
        margin-bottom: 40px;
    }
    
    #blog_title {
        margin-bottom: 40px;
    }

    #intro_logo {
        margin-bottom: 40px;
    }

    .blog_post_row {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin-bottom: 40px;
    }
    
    .blog_post_row:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    #tags_label {
        display: inline-block;
        padding-bottom: 10px;
    }

    .tag_link {
        display: block;
    }

    .blog_post_content {
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 40px;
    }
    
}