/* GUIDE CONTENT */

#guide_content h1 {
    font-size: 28px;
}

#guide_content h2 {
    font-size: 20px;
}

#guide_content pre {
    border-radius: 0;
    border: none;
    padding: 30px;
    background-color: #eeeff3;
    color: #5e6b8d;
}

/* GUIDE PAGE LAYOUT */

#background_container {
    padding-top: 100px;
    min-height: 600px;
    background-size: 100% calc(100% - 200px);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

#title_row {
    margin-bottom: 70px;
}

#guide_column {
    background-color: white;
    color: #24253a;
    padding-top: 45px;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
}

#all_guides_link {
    color: #c8d6fb;
    margin-bottom: 20px;
}

#all_guides_link:hover {
    color: #eaf0ff;
}

#toc_title {
    margin-bottom: 22px;
}

#toc_container ul {
    list-style-type: none;
    padding-left: 0;
}

#toc_container li {
    padding-bottom: 10px;
}

#toc_container a {
    color: #e6eda8;
}

#toc_container a:hover {
    color: #f7fbd2;
}

#tag_title {
    margin-bottom: 22px;
}

#tags_container a {
    color: #c8d6fb;
    padding-right: 15px;
    line-height: 30px;
}

#tags_container a:hover {
    color: #eaf0ff;
}

#guide_title {
    margin-bottom: 32px;
}

#duration_container {
    margin-bottom: 44px;
}

#guide_duration {
    margin-left: 15px;
}

#copied_to_clipboard_confirmation {
    position: absolute;
    font-size: 11px;
    color: #5e6b8d;
}

#copy_to_clipboard {
    position: absolute;
    display: block;
    background-image: url('/img/guide_copy_button.svg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 63px;
    width: 58px;
}

#copy_to_clipboard:hover {
    border: solid 1px #b2bbd1;
}

#copy_to_clipboard:active {
    border: solid 1px #5e6b8d;
}

@media (max-width: 991px) {
    
    #guide_column {
        padding-top: 30px;
        padding-bottom: 70px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
    
@media (max-width: 767px) {
        
    #guide_column {
        padding-top: 10px;
        padding-bottom: 60px;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: none;
    }
    
}
