/* INTRO */

#guids_intro_background {
    padding-top: 333px;
    padding-bottom: 150px;
    margin-bottom: 54px;
}

#guide_search_input {
    width: 50%;
    font-size: 16px;
    color: #3f4659;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 43px;
    border: solid 3px #c0cae3;
    border-radius: 100px;
    outline: none;
    margin-bottom: 63px;
}

#guide_search_input::-webkit-input-placeholder {
    color: #8194c7;
}

#guide_search_input::-moz-placeholder {
    color: #8194c7;
}

#guide_search_input::-ms-input-placeholder {
    color: #8194c7;
}

#guide_search_input:-ms-input-placeholder {
    color: #8194c7;
}

#guides_information_container {
    margin-bottom: 52px;
}

#guide_counter_title {
    margin-top: 0;
    margin-bottom: 18px;
}

#guide_sort_message {
    font-size: 16px;
    color: #3f4659;
}

#guides_container {
    margin-bottom: 128px;
}

.guide_item {
    margin-bottom: 40px;
    height: 215px;
    width: 325px;
    padding-top: 22px;
    padding-left: 20px;
    padding-right: 14px;
    display: block;
    border-left: solid 9px #eeeff3;
    box-shadow:0 2px 4px 0 rgba(63,70,89,0.31);
    transition: shadow .2s, border .2s;
}

.guide_item:hover {
    box-shadow:0 2px 4px 0 rgba(63,70,89,0.59);
    border-left: solid 9px #e6eda8;
}

.guide_title_and_description_container {
    height: 150px;
    overflow: hidden;
}

.guide_title {
    color: #24253a;
    margin-top: 0;
    margin-bottom: 14px;
    overflow: hidden;
}

.guide_description {
    color: #5e6b8d;
    margin: 0;
}

.guide_duration {
    font-size: 11px;
    color: #24253a;
}

@media (max-width: 1199px) {

    .guide_item {
        width: 280px;
    }

}

@media (max-width: 991px) {

    .guide_item {
        width: 330px;
    }

}

@media (max-width: 767px) {
    
    #guide_search_input {
        width: 90%;
    }

    
    .guide_item {
        width: 100%;
    }

}