/* BODY */

body {
    font-family: "Asap";
}



/* HEADERS */

h1 {
    font-size: 45px;
    font-weight: 400;
}

h2 {
    font-size: 28px;
    font-weight: 400;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    font-weight: 500;
}



/* PARAGRAPHS */

p {
    font-size: 16px;
}



/* LINKS */

a {
    text-decoration: none !important;
}

.line_link .line {
    display: inline-block;
    border-top: solid .15em;
    width: 1em;
    height: .4em;
    margin-right: .2em;
    transition: all .3s;
}

.line_link:hover .line {
    width: 1.5em;
}

.regular_link {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
}

.large_link {
    font-size: 20px;
}

.orange_link_light_background, .orange_link_light_background:focus {
    color: #F69144;
}

.orange_link_light_background:hover {
    transition: all .2s;
    color: #E3700D;
}

.orange_link_dark_background, .orange_link_dark_background:focus {
    color: #F4914D;
}

.orange_link_dark_background:hover {
    transition: all .2s;
    color: #F5C5A5;
}

.light_green_link_light_background, .light_green_link_light_background:focus {
    color: #96BC32;
}

.light_green_link_light_background:hover {
    transition: all .2s;
    color: #7A9B22;
}

.light_green_link_dark_background, .light_green_link_dark_background:focus {
    color: #E6EDA8;
}

.light_green_link_dark_background:hover {
    transition: all .2s;
    color: #F7FBD2;
}

.dark_green_link_light_background, .dark_green_link_light_background:focus {
    color: #4F660A;
}

.dark_green_link_light_background:hover {
    transition: all .2s;
    color: #1C2503;
}

.blue_link_light_background, .blue_link_light_background:focus {
    color: #5E6B8D;
}

.blue_link_light_background:hover {
    transition: all .2s;
    color: #3F4659;
}

.blue_link_dark_background, .blue_link_dark_background:focus {
    color: #C8D6FB;
}

.blue_link_dark_background:hover {
    transition: all .2s;
    color: #EAF0FF;
}

.rounded_corner_link {
    display: table;
    width: 100%;
    border: solid 3px;
    border-radius: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 46px;
    padding-right: 46px;
    height: 100px;
    margin: 0 auto;
    font-size: 16px;
    transition: border .2s, background-position .2s;
}

.rounded_corner_link > div {
    display: table-cell;
    vertical-align: middle;
}

.rounded_corner_link > div > .button_label {
    font-size: 20px;
    margin-bottom: 11px;
}

.rounded_corner_link > div > .button_sub_label {
    font-size: 14px;
}

.single_line_rounded_corner_link > div > .button_label {
    margin-bottom: 0;
}

.link_blue_right_arrow {
    padding-right: 100px;
    background-image: url('/img/arrow_medblue.svg');
    background-repeat: no-repeat;
    background-position: right 55px center;
}

.link_blue_right_arrow:hover {
    background-image: url('/img/arrow_yellowgreen.svg');
    background-position: right 35px center;
}

.link_blue_border {
    border-color: #5E6B8D;
}

.link_blue_border:hover {
    border-color: #E6EDA8;
}

.link_blue_border div {
    color: #EAF0FF;
}

.link_blue_border div:last-child {
    color: #C8D6FA;
}

.link_blue_border:hover div {
    color: white;
}

.link_blue_border:hover div:last-child {
    color: #E6EDA8;
}

.link_green_download_arrow {
    padding-left: 85px;
    position: relative;
}

.link_green_download_arrow .arrow {
    background-image: url('/img/about_download_arrow_only.svg');
    background-repeat: no-repeat;
    width: 16px;
    height: 28px;
    position: absolute;
    top: calc(50% - 18px);
    left: 55px;
    transition: all .3s;
}

.link_green_download_arrow:hover .arrow {
    background-image: url('/img/about_download_arrow_only_hover.svg');
    transform: translateY(6px);
}

.link_green_download_arrow .line {
    background-image: url('/img/about_download_line.svg');
    background-repeat: no-repeat;
    width: 27px;
    height: 4px;
    position: absolute;
    top: calc(50% + 18px);
    left: 50px;
    transition: all .3s;
}

.link_green_download_arrow:hover .line {
    background-image: url('/img/about_download_line_hover.svg');
    transform: translateY(-1px);
}


.link_green_right_arrow {
    padding-right: 100px;
    background-image: url('/img/arrow_lightgreen.svg');
    background-repeat: no-repeat;
    background-position: right 50px center;
}

.link_green_right_arrow:hover {
    background-image: url('/img/arrow_darkgreen.svg');
    background-position: right 30px center;
}

.link_green_border {
    border-color: #cadd98;   
}

.link_green_border:hover {
    border-color: #96BC32;
}

.link_green_border div {
    color: #4F660A;
}

.link_green_border div:last-child {
    color: #96BC32;
}



/* BACKGROUNDS */

.orange_background {
    background-color: #F4914D;
}

.blue_background {
    background-color: #5E6B8D;
}

.green_background {
    background-color: #96BC32;
}

.black_blue_gradient_background {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#131427), to(#2C2D4F));
    background-image: -webkit-linear-gradient(top, #131427, #2C2D4F);
    background-image: -moz-linear-gradient(top, #131427, #2C2D4F);
    background-image: linear-gradient(to bottom, #131427, #2C2D4F);
    color: #C8D2D2;
}

 .blue_black_gradient_background {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2C2D4F), to(#131427));
    background-image: -webkit-linear-gradient(top, #2C2D4F, #131427);
    background-image: -moz-linear-gradient(top, #2C2D4F, #131427);
    background-image: linear-gradient(to bottom, #2C2D4F, #131427);
    color: #C8D2D2;
}



/* EQUAL COLUMN HEIGHT HANDLING */

@media (min-width: 768px) {

    .row-equal-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .align_bottom {
        position: absolute;
        bottom: 0;
    }

}



/* NAVIGATION BAR */

.navbar {
    position: absolute;
    margin: auto;
    top: 0; left: 0; right: 0;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    background: none;
    padding-top: 30px;
    z-index: 9999;
}

.navbar-default .navbar-collapse {
    border: none;
    box-shadow: none;
}

#navbar_home_link {
    display: inline-block;
    width: 150px;
    padding: 25px;
    background-image: url('/img/small_logo_grey.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 20px;
}

#navbar_home_link:hover {
    transition: all .2s;
    background-image: url('/img/small_logo_white.svg');
}

#navbar_responsive_button {
    border: none;
    background-color: #131427;
}

#navbar_responsive_button:hover .icon-bar {
    background-color: white !important;
}

#navbar_responsive_button:hover {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: #C8D2D2;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #C8D2D2;
}

.navbar-default .navbar-nav > li > a:hover {
    transition: all .2s;
    color: white;
}

.navbar-default .navbar-brand {
    color: #C8D2D2;
    font-size: 32px;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-nav > li > a {
    font-size: 16px;
    margin-left: 35px;
}

@media (max-width: 991px) {

    .navbar-nav > li > a {
        margin-left: 2px;
    }

}

@media (max-width: 767px) {

    .navbar {
        position: static;
        background-color: #131427;
        padding-top: 0;
    }

}



/* FOOTER */

#footer_container {
    color: #24253A;
    margin-bottom: 40px;
    background-image: url('/img/footer_main.png');
    background-repeat: no-repeat;
    background-position: top 24px left 36px;
}

#footer_container .footer_link {
    font-size: 14px;
    margin-right: 29px;
    color: #96bc32;
}

#footer_container .footer_link:hover {
    color: #7A9B22;
}


#footer_text {
    margin-top: 4px;
    margin-bottom: 4px;
}

#footer_copyright {
    font-size: 11px;
}

#footer_links_container {
    margin-top: 32px;
    margin-left: 120px;
    padding-left: 90px;
    border-bottom: solid 1px #C8D3D3;
    padding-bottom: 10px;
}

#footer_twitter_link {
    display: inline-block;
    width: 26px;
    height: 22px;
    margin-right: 22px;
    background-image: url('/img/footer_twitter.png');
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s;
    vertical-align: middle;
}

#footer_twitter_link:hover {
    background-image: url('/img/footer_twitter_darker.png');
}

#footer_github_link {
    display: inline-block;
    width: 24px;
    height: 23px;
    background-image: url('/img/footer_github.png');
    background-position: center;
    background-repeat: no-repeat;
    transition: all .5s;
    vertical-align: middle;
}

#footer_github_link:hover {
    background-image: url('/img/footer_github_darker.png');
}

@media only screen and (min--moz-device-pixel-ratio: 2),

only screen and (-o-min-device-pixel-ratio: 2/1),

only screen and (-webkit-min-device-pixel-ratio: 2),

only screen and (min-device-pixel-ratio: 2) {

    #footer_container {
        background-image: url('/img/footer_main_x2.png');
        background-size: 143px 52px;
    }

}

@media (max-width: 767px) {
    
        #footer_container {
            background-image: none;
        }

        #footer_links_container {
            padding-left: 0;
            margin-left: 0;
        }
    
    }
    


/* UTILS */

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.center_content_vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.position_relative {
    position: relative;
}
