#background_container {
    padding-top: 100px;
    background-size: 100% calc(100% - 280px);
    background-repeat: no-repeat;
    margin-bottom: 67px;
}

#intro_logo {
    margin-bottom: 70px;
}

#post_column {
    padding: 0;
}

#article_container {
    background-color: white;
    color: #24253a;
    padding-top: 55px;
    padding-bottom: 82px;
    padding-left: 90px;
    padding-right: 90px;
    -webkit-box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    box-shadow: 0px 5px 11px -3px rgba(0,0,0,0.27);
    overflow: hidden;
}

#article_container p {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 26px;
}

#article_container h2 {
    font-size: 20px;
    color: #24253a;
    margin-top: 24px;
    margin-bottom: 8px;
}

#article_container h3 {
    font-size: 16px;
    color: #24253a;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 8px;
}

#article_container h4 {
    font-size: 16px;
    color: #6f7878;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 8px;
}

#article_container a {
    font-weight: 500;
    color: #E3700D;
    transition: color .2s;
}

#article_container a:hover {
    color: #F4914D;
}

#author_image {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.post_information_container {
    white-space: nowrap;
}

#post_information {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

#author_name {
    font-size: 16px;
    color: #3f4659;
}

#post_date {
    font-size: 16px;
    color: #24253a;
}

#share_post_container {
    color: #3F4659;
    font-size: 20px;
    padding-top: 50px;
}

#twitter_link {
    display: inline-block;
    width: 27px;
    height: 23px;
    background-image: url('/img/twitter_link.svg');
    background-repeat: no-repeat;
    margin-left: 20px;
    vertical-align: middle;
}

#twitter_link:hover {
    background-image: url('/img/twitter_link_hover.svg');
}

#reddit_link {
    display: inline-block;
    width: 30px;
    height: 25px;
    background-image: url('/img/reddit_link.svg');
    background-repeat: no-repeat;
    margin-left: 20px;
    vertical-align: middle;
}

#reddit_link:hover {
    background-image: url('/img/reddit_link_hover.svg');
}

@media (max-width: 991px) {

    #article_container {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 60px;
        padding-right: 60px;
    }

}

@media (max-width: 767px) {

    #background_container {
        padding-top: 20px;
        margin-bottom: 40px;
    }

    #intro_logo {
        margin-left: 5px;
        margin-bottom: 30px;
    }

    #article_container {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    #share_post_container {
        padding-top: 20px;
    }

}