<?xml version="1.0" encoding="UTF-8"?>
<server description="inventory">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>microProfile-6.0</feature>
    </featureManager>

    <!-- tag::httpPortVariable[] -->
    <variable name="default.http.port" defaultValue="9080" />
    <!-- end::httpPortVariable[] -->
    <!-- tag::httpsPortVariable[] -->
    <variable name="default.https.port" defaultValue="9443" />
    <!-- end::httpsPortVariable[] -->
    <!-- tag::contextRootVariable[] -->
    <variable name="default.context.root" defaultValue="/inventory" />
    <!-- end::contextRootVariable[] -->

    <!-- To access this server from a remote client,
         add a host attribute to the following element, e.g. host="*" -->
    <!-- tag::editedHttpEndpoint[] -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${default.http.port}" 
                  httpsPort="${default.https.port}" />
    <!-- end::editedHttpEndpoint[] -->
    
    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Configures the application on a specified context root -->
    <!-- tag::editedContextRoot[] -->
    <webApplication contextRoot="${default.context.root}" 
                    location="inventory.war" /> 
    <!-- end::editedContextRoot[] -->

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
</server>
