code {
    background-color: #f4f4f4;
    color: #5e6b8d;
}

pre {
    background-color: #f1f4fe;
    color: #5e6b8d;
}

.hljs {
    background-color: inherit;
}

.hljs-name {
    color: #070;    
}

.hljs-meta {
    color: #043377;
}

.hljs-doctag, .hljs-string {
    color: #383599;
}

.hljs-comment, .hljs-quote {
    color: #777;
}

.hljs-literal, .hljs-number, .hljs-template-variable, .hljs-variable {
    color: #60E;
}

.hljs-selector-tag, .hljs-subst {
    color: #033077;
}

.hljs-keyword {
    color: #0E670F;
}

.hljs-class .hljs-title, .hljs-title {
    color: #995613;    
}

.hljs-function {
    // .hljs-title {
    //     color: #995613;    
    // }

    .hljs-keyword {
        color: #0E670F;
    }
}