<?xml version="1.0" encoding="UTF-8"?>
<web-app id="openliberty" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>openliberty</display-name>

	<listener>
		<listener-class>
             com.ibm.openliberty.ContextListener
        </listener-class>
   </listener>

</web-app>